<div class="iou_homepage_bottom ">
    
    <div class="bottom_fonts_plate" onclick="jfCustomerService.click()">
        
        <div class="bottom_left_img">
            <img src="../../images/bottom_images/online_service.png">
        </div>

        <p>在线客服</p>
        
    </div>

    <a class="bottom_fonts_plate" href="../helpcenter/category.html">

        <div class="bottom_left_img">
            <img src="../../images/bottom_images/common_problem.png">
        </div>

        <p>常见问题</p>

    </a>
    
</div>


<!---------------弹出框“选择用途”---------------->
<div class="activation_popup">

    <div class="selective_use_popup"></div>

    <div class="activation_plate">

        <div class="iou_logo"></div>

        <div class="activation_tips_font">

            <p>恭喜你</p>

            <p>获得激活嘉白条名额</p>

        </div>

        <a class="green_center_plate" href="../certification/main.html">

            <p>去激活</p>

        </a>

        <div class="activation_close_btn">

            <div class="close_round"></div>

        </div>

    </div>

</div>