<div class="iou_homepage_top">

    <p>可用额度</p>

    <p>7000.00</p>

    <p><span>总额度：</span><span>10000.00</span></p>

    <a href="../borrow/borrow.html"><button class="quota_state">已激活</button></a>

</div>
