/*****************************/
/**************首页顶部************/
button {

  outline: none;

}

.iou_homepage_top {

  position: relative;
  width: 100%;
  height: 165px;
  background-image: url("../images/background_green.png");
  background-size: 100%;
  background-repeat: no-repeat;
  text-align: center;
  background-position: center;
  background-origin: content-box;

  @media screen and(max-width: 320px) {

    height: 130px;

  }

  @media screen and(min-width: 414px) {

    height: 175px;

  }

    /*********图片上的文字*********/
  p {

    color: #ffffff;

    &:nth-child(1) {

      font-size: 16px;
      padding-top: 10px;
      line-height: 15px;

      @media screen and(max-width: 320px) {

        font-size: 12px;
        line-height: 10px;

      }

      @media screen and(min-width: 414px) {

        padding-top: 15px;

      }

    }

    &:nth-child(2) {

      font-size: 50px;
      line-height: 66px;

      @media screen and(max-width: 320px) {

        font-size: 33px;
        line-height: 45px;

      }

    }

    &:nth-child(3) {

      font-size: 16px;
      line-height: 15px;

      @media screen and(max-width: 320px) {

        font-size: 12px;
        line-height: 10px;

      }

    }

  }

  /*********额度状态*********/
  .quota_state {

    width: 25%;
    margin: 10px auto;
    padding: 8px 0;
    border-radius: 20px;
    background-color: #ffffff;
    color: #46b48b;
    font-size: 14px;
    border: none;

    &:active {

      opacity: .80;

    }

    @media screen and(min-width: 750px) {

      margin: 15px auto;

    }

    @media screen and(max-width: 320px) {

      width: 25%;
      font-size: 14px;
      padding: 3px 0;

    }

  }

}

/*********已激活按钮变的样式*********/
.quota_state_checked {

  .quota_state {
    width: 20%;
    border-radius: 6px;
    padding: 6px 0;
  }

}































































