<div class="iou_homepage_top">
    <img class="homepage_logo" src="../../images/homepage_logo.png">
    <!--免费激活class名：homepage_sign_up;免费提额class名：up_more;-->
    <!--审核中状态class名：homepage_review_show;未通过class名：homepage_pass_show;-->
    <div class="homepage_sign_up">
        <!--激活-->
        <span class="pass_box">
            <span class="hello_text">信用额度、一步秒到</span>
            <a href="../certification/id_card.html" class="sign_up">免费激活</a>
        </span>
        <!--提额-->
        <span class="go_more_box">
            <span class="up_number">
                <span class="user_money"><span><span>可</span><span>用</span><span>额</span><span>度</span></span>:<span>10000.00</span></span>
                <span class="all_money"><span><span>总</span><span>额</span><span>度</span></span>:<span>50000.00</span></span>
            </span>
            <a href="../certification/main.html" class="go_more">免费提额</a>
        </span>
        <!--审核中-->
        <span class="review_box_show">
            <span class="review_up_text"><img src="../../images/review_state.png">审核中</span>
            <span class="review_down_text">工作日内预计当天完成</span>
        </span>
        <!--未通过-->
        <span class="pass_box_show">
            <span class="not_pass_text"><img src="../../images/examine_state.png">未通过</span>
            <span class="not_pass_text">请积累信用静待再次开放</span>
        </span>
    </div>
</div>


