<div class="iou_homepage_bottom ">
    
    <div class="bottom_fonts_plate">
        
        <div class="bottom_left_img">
            <img src="../../images/bottom_images/online_service.png">
        </div>

        <p>在线客服</p>
        
    </div>

    <div class="bottom_fonts_plate">

        <div class="bottom_left_img">
            <img src="../../images/bottom_images/common_problem.png">
        </div>

        <p>常见问题</p>

    </div>
    
</div>