<!-------在下面 div 的 class 中加入 quota_state_checked ，即可改变“已激活”按钮的形态------>
<div class="iou_homepage_top">

    <p>可用额度</p>

    <p>7000.00</p>

    <p><span>总额度：</span><span>10000.00</span></p>

    <a href="../borrow/borrow.html"><button class="quota_state">未激活</button></a>

</div>
