<div class="iou_homepage_center">




    <!-----公告----->

    <a class="jd_notice" >

        <div class="tab_bd" style="display: none"></div>

        <div class="recharge_balance" style="display: none">

            <img src="../../images/tips_tip.gif">
            <span>
            <p>这里是公告信息，这一行字这就是最大值了已经！</p>
            </span>
        </div>

    </a>
    <!---->

    <!------------还款-------------------->
    <div class="white_stripes_plate show_top">

        <a class="center_plate" href="../return/return.html">

            <div class="repayment_plate">

                <div class="repayment_left_img">

                    <img src="../../images/repayment.png">

                </div>

                <div class="repayment_left_img">

                    <p>还款</p>

                </div>

            </div>

            <div class="repayment_plate">

                <div class="repayment_right_img">

                    <img src="../../images/overdue.png">

                </div>

                <div class="repayment_right_font">

                    <p>已逾期</p>

                </div>

                <div class="left_arrow_plate">


                    <!--如需使箭头变灰，在下方div的class中添加“left_arrow_op”可以修改箭头颜色-->

                    <div class="left_arrow"></div>

                </div>

            </div>


        </a>

        <div class="repayment_money">

            <div class="repayment_money_fonts">

                <p><span>应还金额</span><span>1000.00</span></p>

                <p><span>还款日</span><span>2018.01.15</span></p>

            </div>

        </div>


    </div>


    <!------------打白条----------添加banner后需添加“show_top”清除间隔---------->
    <div class="white_stripes_plate ">


        <!--嘉会员优惠券-->
        <!----隐藏立即使用添加class值：“wait”---->
        <div class="ticket_info ">
            <div>
                <img src="../../images/ticket_icon.png">
            </div>
            <div>
                <p>5000元代还信用卡，3期免费用</p>
                <p><span>08-14<span>到</span>08-21<span>可用</span></span><span class="rule">规则</span></p>
            </div>
            <a href="../return_bankcard/bank_card.html">立即使用</a>
        </div>

        <!----------banner入口---------->
         <a  class="banner_in" href="#">
             <!--这里是放banner入口图的地方-->
             <img src="../../images/banner_8.png" >
         </a>

        <div class="top_plate">

            <p>打白条</p>

        </div>

        <div class="take_now_plate">
            <!--如果新增菜单，遮罩层 div 一定要放置于打白条所有的菜单的最后，对布局无影响-->

            <a class="left_img_font" href="../borrow/borrow.html">

                <div class="left_img">
                    <img src="../../images/white_stripes/take_now.png">
                </div>
                <!--推荐：“hot_select”,手机认证专享：“vip_choose”，员工专享：“staff_choose”-->
                <div class="left_img hot_select">
                    <p>借钱</p>

                    <p>额度现金分期</p>
                </div>

            </a>


            <!--即将上线，添加class值coming_soon-->
            <a class="left_img_font " href="../return_bankcard/bank_card.html">

                <div class="left_img">
                    <img src="../../images/white_stripes/credit_card_payment.png">
                </div>
                <!--推荐：“hot_select”,手机认证专享：“vip_choose”，员工专享：“staff_choose”-->
                <div class="left_img">
                    <p>代还信用卡</p>

                    <p>信用卡分期还</p>
                </div>

            </a>

            <a class="left_img_font ">

                <div class="left_img">
                    <img src="../../images/white_stripes/installment_consumption.png">
                </div>
                <!--推荐：“hot_select”,手机认证专享：“vip_choose”，员工专享：“staff_choose”-->
                <div class="left_img staff_choose ">
                    <p>购物</p>

                    <p>商城分期购物</p>
                </div>

            </a>

        </div>

    </div>
    <!------------账单-------------------->
    <div class="white_stripes_plate">

        <div class="top_plate">

            <p>账单</p>

        </div>

        <div class="take_now_plate">

            <a class="left_img_font" href="../record/stages_record.html">

                <div class="left_img">
                    <img src="../../images/bill_images/staging.png">
                </div>

                <div class="left_img">
                    <p>分期订单</p>
                </div>

            </a>

            <a class="left_img_font" href="../record/return_record.html">

                <div class="left_img">
                    <img src="../../images/bill_images/payment_history.png">
                </div>

                <div class="left_img">
                    <p>还款记录</p>
                </div>

            </a>

        </div>

    </div>

</div>

<script>

    /*优惠券规则-弹框*/
    document.getElementsByClassName('rule')[0].addEventListener('click',function(){

        jfShowTips.dialogShow({
            "mainText": "使用规则",
            "minText": "<ul class='boom_text_all'>" +
            "               <li class='boom_text'>需要满足嘉白条代还信用卡使用规则</li>" +
            "               <li class='boom_text'>借款金额小于等于免息券限制的金额</li>" +
            "               <li class='boom_text'>分期期数等于免息券限制的期数</li>" +
            "               <li class='boom_text'>满足嘉会员的用券规则</li>" +
            "               <li class='boom_text'>最终解释权归嘉会员和嘉白条所有</li>" +
            "           </ul>",
            "noCheck": true,
            "noCancel": false,
            "cancleBtnText":"知道了",
            "checkBtnText":"",
        });

    },false)
</script>