<div class="iou_homepage_center">

    <!------------还款-------------------->
    <div class="white_stripes_plate">

        <a class="center_plate" href="../return/return.html">

            <div class="repayment_plate">

                <div class="repayment_left_img">

                    <img src="../../images/repayment.png">

                </div>

                <div class="repayment_left_img">

                    <p>还款</p>

                </div>

            </div>

            <div class="repayment_plate">

                <div class="repayment_right_img">

                    <img src="../../images/overdue.png">

                </div>

                <div class="repayment_right_font">

                    <p>已逾期</p>

                </div>

                <div class="left_arrow_plate">

                    <div class="left_arrow"></div>

                </div>

            </div>


        </a>

        <div class="repayment_money">

            <div class="repayment_money_fonts">

                <p><span>应还金额</span><span>1000.00</span></p>

                <p><span>还款日</span><span>2018.01.15</span></p>

            </div>

        </div>

    </div>

    <!------------打白条-------------------->
    <div class="white_stripes_plate">

        <div class="top_plate">

            <p>打白条</p>

        </div>

        <div class="take_now_plate">

            <a class="left_img_font" href="../borrow/borrow.html">

                <div class="left_img">
                    <img src="../../images/white_stripes/take_now.png">
                </div>

                <div class="left_img">
                    <p>现金分期</p>

                    <p>白条额度取现</p>
                </div>

            </a>

            <!--去除“即将上线的遮罩”，直接删除下面的div即可-->
            <div class="consumption_stage_popup"></div>

            <!--2018.3.6___信用卡还款暂时隐藏-->

            <!--<a class="left_img_font">

                <div class="left_img">
                    <img src="../../images/white_stripes/credit_card_payment.png">
                </div>

                <div class="left_img">
                    <p>信用卡还款</p>

                    <p>白条信用卡还款</p>
                </div>

            </a>-->

            <a class="left_img_font">

                <div class="left_img">
                    <img src="../../images/white_stripes/installment_consumption.png">
                </div>

                <div class="left_img">
                    <p>消费分期</p>

                    <p>商城分期购物</p>
                </div>

            </a>

        </div>

    </div>

    <!------------账单-------------------->
    <div class="white_stripes_plate">

        <div class="top_plate">

            <p>账单</p>

        </div>

        <div class="take_now_plate">

            <a class="left_img_font" href="../record/stages_record.html">

                <div class="left_img">
                    <img src="../../images/bill_images/staging.png">
                </div>

                <div class="left_img">
                    <p>分期订单</p>
                </div>

            </a>

            <a class="left_img_font" href="../record/return_record.html">

                <div class="left_img">
                    <img src="../../images/bill_images/payment_history.png">
                </div>

                <div class="left_img">
                    <p>还款记录</p>
                </div>

            </a>

        </div>

    </div>

</div>




























