<div class="iou_homepage_bottom ">
    
    <div class="bottom_fonts_plate" onclick="jfCustomerService.click()">
        
        <div class="bottom_left_img">
            <img src="../../images/bottom_images/online_service.png">
        </div>

        <p>在线客服</p>
        
    </div>

    <a class="bottom_fonts_plate" href="../helpcenter/category.html">

        <div class="bottom_left_img">
            <img src="../../images/bottom_images/common_problem.png">
        </div>

        <p>常见问题</p>

    </a>
    
</div>


<!---------------弹出框“选择用途”---------------->
<div class="activation_popup">

    <div class="selective_use_popup"></div>
    
    <div class="activation_plate">

        <div class="green_center_plate">

            <div class="activation_green_plate">
                <p>恭喜你获得</p>

                <p>激活白条名额</p>
            </div>

        </div>

        <img src="../../images/success_special_effects.png">
        
    </div>

    <div class="activation_plate">

        <div class="activation_white_plate">
            <a class="activation_btn" href="../certification/main.html">去激活</a>
        </div>

        <div class="activation_close_btn">
            <img src="../../images/icon_green_close.png">
        </div>

    </div>

</div>