<!--借钱说明提示-->
<div class="none_popup_tips">
    <div class="selective_use_popup"></div>

    <div class="borrow_money_tips homepage_popup_tips">
        <div class="popup_tips_plate">
            <div class="borrow_money_title"><p class="popup_tips_title">代还信用卡</p></div>

            <div class="tp_p_box">
                <p class="tp_box_text">支持<span class="popup_tips_title tp_none">福豆组合福利</span></p>
                <p class="tp_box_text">支付宝、微信、工资还款</p>
            </div>
        </div>

        <div class="popup_tips_close"><img src="../../images/icon_borrow_close.png"></div>
    </div>
</div>


<script>
    //页面加载完的免费激活弹窗
    borrowMoneyTips();

    //点击“免费激活”按钮，关闭弹窗
    /*document.getElementsByClassName('popup_btn')[0].addEventListener('click',function () {

        var showPopupTips=document.getElementsByClassName('none_popup_tips')[0]; //父级元素

        showPopupTips.className = 'none_popup_tips';

        document.getElementsByTagName('body')[0].className='';

        document.getElementsByTagName('html')[0].className='';

    },false)*/

</script>
