<div class="jf_salary">

    <div class="salary_main">
        <p class="title">借款金额(元)</p>

        <p class="num"><span class="money_num">2000</span></p>

        <!--滚动条区域-->
        <div class="move_bar">
            <div class="gray"></div>
            <div class="green"></div>
            <div class="move_coin"></div>
        </div>

        <div class="limmit_num">
            <span class="min">500</span>
            <span class="max">5000</span>
        </div>

        <div class="get_money">
            <div>
                <p>4995.00</p>
                <p>到账金额(元)</p>
            </div>

            <!--存在手续费时，去掉class值noreduced-->

            <div class="noreduced">
                <p>0</p>
                <p>已优惠手续费(元)</p>
            </div>

        </div>

        <div class="date_main">
            <p class="title">借款期限</p>

            <div class="date">
                <p class="choosed">7天</p>
                <p>14天</p>
                <p class="nochoosed">30天</p>
            </div>

        </div>
    </div>



</div>


<div class="bottom_btn homepage_btn">
    <a href="../certification/main.html">借钱</a>
</div>


<div class="salary_bottom">
    <a onclick="jfCustomerService.click()">
        <img src="../../images/icon_customer.png">
        <span>在线客服</span>
    </a>


    <a>
        <img src="../../images/icon_helpcenter_gary.png">
        <span>常见问题</span>
    </a>
</div>


<script>

    chooseDate({//选择借款天数点击

        fn:function(){//点击的时候执行的脚本
            console.log("111")
        }
    })




    addEventListener("load",function(){

        chooseSalary.init({

            fn:function(){//钱币移动的时候执行的脚本

                console.log(chooseSalary.run.data());//金额值
            }
        });


    },false)//滑动选择金额


    //客服模块
    jfCustomerService.init(
        {//用户信息
            name: '阿陈',// 名字
            address: '西伯利亚',// 地址
            email: '1313@qq.com',// 邮箱
            age: '16',// 年龄
            tel: '110',// 电话
            comment: '很帅',// 备注
            gender: '男',// 性别
            qq: '1234567',// QQ
            weibo: '',// 微博
            weixin: '',// 微信
            '公司名称': '上海淘略数据有限公司',
            '公司编号': '123ksuhdaf891274',
            '员工编号': '1234567890123456'
        },
        //指定客服
        'b040d96757bf55ea302f9fbfb0ecd062'
    );

</script>