<html>

<head>

    <title>嘉白条</title>

</head>

<body>

<%- include('../../component/homepage/iou_homepage_top.ejs')%>

<%- include('../../component/homepage/iou_homepage_center.ejs')%>

<%- include('../../component/homepage/iou_homepage_bottom.ejs')%>

<%- include('../../component/homepage/popup_tips.ejs')%>

</body>

<script src="../../js/jquery-3.0.0.min.js"></script>
<script>


    addEventListener('load',function () {

       /* //预期提醒
        jfShowTips.dialogShow({

            "mainText": "嘉白条逾期提醒",//标题

            "minText": "截至今日，共有<span style='color: #f39800'>2</span>笔逾期，待还总金额<span style='color: #f39800'>￥2120.00</span>。",//解释性文案

            "noCheck": false,//确认按钮（默认为false,即存在）

            "noCancel": false,//取消按钮（默认为false,即存在）

            "checkBtnText":"去还款",//确认按钮文字

            "cancleBtnText":"稍后再还",//取消按钮文字

            "checkFn": function () {//弹框消失后发生的脚本

                jfShowTips.dialogRemove();//弹框消失的方法

                window.location.href='../return/return.html'

            }
        });*/


      //  showGoActive()//去激活弹窗
    },false)


    //客服模块
    jfCustomerService.init(
        {//用户信息
            name: '阿陈',// 名字
            address: '西伯利亚',// 地址
            email: '1313@qq.com',// 邮箱
            age: '16',// 年龄
            tel: '110',// 电话
            comment: '很帅',// 备注
            gender: '男',// 性别
            qq: '1234567',// QQ
            weibo: '',// 微博
            weixin: '',// 微信
            '公司名称': '上海淘略数据有限公司',
            '公司编号': '123ksuhdaf891274',
            '员工编号': '1234567890123456'
        },
        //指定客服
        'b040d96757bf55ea302f9fbfb0ecd062'
    );



</script>

</html>


