<html>
<head>
    <title>嘉白条</title>
<body>

<div>

    <%- include('../../component/homepage/iou_homepage_top.ejs')%>

    <%- include('../../component/homepage/iou_homepage_center.ejs')%>

    <%- include('../../component/homepage/iou_homepage_bottom.ejs')%>

</div>

</body>
</head>
</html>