<html>

<head>

    <title>嘉白条</title>

</head>

<body>

<%- include('../../component/homepage/iou_homepage_top.ejs')%>

<%- include('../../component/homepage/iou_homepage_center.ejs')%>

<%- include('../../component/homepage/iou_homepage_bottom.ejs')%>

</body>

<script>

    /*当月转出额度超限*/
    document.getElementsByClassName('repayment_money')[0].addEventListener('click',function(){

        jfShowTips.dialogShow({
            "mainText": "嘉白条逾期提醒",
            "minText": "截至今日，共有2笔逾期，待还总金额￥2120.00。",
            "noCheck": false,
            "noCancel": false,
            "checkBtnText":"去还款",
            "checkFn": function () {
                jfShowTips.dialogRemove()

            }
        });

    },false)

    //页面加载完，显示去激活弹窗
    var activationNone=document.getElementsByClassName('activation_popup')[0]; //父级元素

    window.onload=function () {

        activationNone.className = 'activation_popup activation_popup_block';

    }

    //点击“去激活”按钮，关闭弹窗
    document.getElementsByClassName('activation_btn')[0].addEventListener('click',function () {

        activationNone.className = 'activation_popup';

    },false)

    //点击关闭按钮，关闭弹窗
    document.getElementsByClassName('activation_close_btn')[0].addEventListener('click',function () {

        activationNone.className = 'activation_popup';

    },false)



</script>

</html>


