<html>
<head>
    <title>嘉白条</title>
<body>

<div>

    <%- include('../../component/homepage/white_stripes.ejs')%>

    <!-- 固定下 -->
    <div class="tabbar">
        <div class="">
            <div class="weui_tab_bd"></div>
            <div class="weui_tabbar">

                <a href="javascript:;" class="weui_tabbar_item on">
                    <div class="weui_tabbar_icon">
                        <img src="../../images/icon_homepage_borrow_gray.png" alt="">
                        <img src="../../images/icon_homepage_borrow_green.png" alt=""></div>
                    <p class="weui_tabbar_label">借钱</p>
                </a>
                <a href="../activity/activity.html" class="weui_tabbar_item">
                    <div class="weui_tabbar_icon">
                        <img src="../../images/icon_homepage_active_gray.png" alt="">
                        <img src="../../images/icon_homepage_active_green.png" alt="">
                    </div>
                    <p class="weui_tabbar_label">活动</p>
                </a>
                <a href="../mine/mine.html" class="weui_tabbar_item ">
                    <div class="weui_tabbar_icon">
                        <img src="../../images/icon_homepage_mine_gray.png" alt="">
                        <img src="../../images/icon_homepage_mine_green.png" alt="">
                    </div>
                    <p class="weui_tabbar_label">我的</p>
                </a>
            </div>
        </div>
    </div>

</div>

</body>
</head>
</html>