<div class="weui_icon_area" style="margin-bottom:0px;">
    <div class="swal2-icon swal2-info animate-time-min" style="display: block;">
        <div class="time">
            <div class="time-hour animate-time-icon"></div>
            <div class="time-min"></div>
        </div>
    </div>

</div>