<label class="input_list showmore">
    <div class="title"><%=title%></div>
    <div class="input_form">
        <select>
            <option disabled selected class="showoptionstips">请选择与您的关系</option>
            <option>父亲</option>
            <option>母亲</option>
            <option>配偶</option>
            <option>儿子</option>
            <option>女儿</option>
            <option>哥哥</option>
            <option>弟弟</option>
            <option>姐姐</option>
            <option>妹妹</option>
        </select>
    </div>
</label>