<!--通用进度条-->

<div class="progress_bar">
    <!--当前处于哪一步则添加class值show,如果接下来还有步骤则添加class值more-->
    <!--<div class="step show">
        <p class="title">审批成功</p>
        <p class="min_text">恭喜您，审批通过，当前信用额度为<span class="green_text">5800元</span></p>
        <span class="time">2017-01-01 10：00：00</span>
    </div>-->
    <div class="step show">
        <p class="title">审批中</p>
        <p class="min_text">工作日预计当天完成审核！提额<span class="green_text">4500</span>元</p>
       <!-- <p class="min_text">工作日预计<span class="green_text">30分钟</span>内完成，请留意短信通知！</p>-->
        <span class="time">2017-01-01 10：00：00</span>
    </div>
    <div class="step">
        <p class="title">提交成功</p>
        <span class="time">2017-01-01 10：00：00</span>
    </div>
</div>