

<div class="normal_bottom_more">
    <div class="bottom_btn_one">
        <a href="<%=hrefone%>"><%=btntextone%></a>
    </div>


    <div class="bottom_btn_two">
        <a href="<%=hreftwo%>"><%=btntexttwo%></a>
    </div>
</div>
