<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>用户信息查询授权协议</title>
</head>
<body>


<%- include('../../component/certification/authorise_agreement.ejs')%>



<script>


</script>

</body>
</html>
