<div class="contact_info">
    <!--身份认证-->
    <div>
        <label class="input_list">
            <div class="title">转让额度：</div>
            <div class="orange_fonts">3000.00</div>
        </label>

        <label class="input_list">
            <div class="title">转让服务费：</div>
            <div class="input_form">60.00</div>
        </label>

        <label class="input_list">
            <div class="title">分期服务费：</div>
            <div class="input_form">3%/月</div>
        </label>

        <a class="list arrow" href="#">
            <div class="title">还款计划：</div>
            <div class="input_form">1060.00元x3期</div>
        </a>

        <a class="list arrow" href="#">
            <div class="title">取现用途：</div>
            <div class="input_form">个人日常消费</div>
        </a>

        <label class="input_list">
            <div class="title">平台到账：</div>
            <div class="orange_fonts">3000.00</div>
        </label>
    </div>

</div>



<%- include('../basic/one_green_btn.ejs',{
"hrefone":"transfer_success.html",
"btntext":"确认转让"
})%>