<div class="success_page">
    <%- include('../basic/icon_success.ejs')%>

    <p class="success_title">转让撮合成功</p>

    <%- include('../basic/one_green_btn.ejs',{
    "hrefone":"main.html",
    "btntext":"去提现"
    })%>

    <%- include('../basic/one_greenborder_btn.ejs',{
    "hrefone":"../homepage/homepage.html",
    "btntext":"返回首页"
    })%>

</div>