<div class="success_page">
    <%- include('../basic/icon_success.ejs')%>

    <p class="success_title">还款成功</p>

    <%- include('../basic/one_green_btn.ejs',{
    "hrefone":"main.html",
    "btntext":"确定"
    })%>

</div>