<div class="contact_info">
    <!----------分期订单详情---------->
    <p>分期订单详情</p>
    <!--身份认证-->
    <div>
        <label class="input_list">
            <div class="title">分期订单号</div>
            <div class="input_form">100000000001</div>
        </label>

        <label class="input_list">
            <div class="title">分期订单类型</div>
            <div class="input_form">嘉福商城消费分期</div>
        </label>

        <label class="input_list">
            <div class="title">订单时间</div>
            <div class="input_form">2018-01-05 14:11:11</div>
        </label>

        <label class="input_list">
            <div class="title">分期金额</div>
            <div class="input_form">￥3000.00</div>
        </label>

        <label class="input_list">
            <div class="title">分期指数</div>
            <div class="input_form">3/月</div>
        </label>

        <label class="input_list">
            <div class="title">总服务费</div>
            <div class="input_form">￥60.00</div>
        </label>

        <label class="input_list">
            <div class="title">退款金额</div>
            <div class="input_form">￥0.00</div>
        </label>
    </div>

    <!-----------当期还款详情------------>
    <p>当期还款详情</p>
    <!--身份认证-->
    <div>
        <label class="input_list">
            <div class="title">当期期数</div>
            <div class="input_form">第1期/共3期</div>
        </label>

        <label class="input_list">
            <div class="title">当期应还本金</div>
            <div class="input_form">￥1000.00</div>
        </label>

        <label class="input_list">
            <div class="title">当期服务费</div>
            <div class="input_form">￥60.00</div>
        </label>

        <label class="input_list">
            <div class="title">当期退款抵充</div>
            <div class="input_form">￥0.00</div>
        </label>

        <label class="input_list">
            <div class="title">当期逾期费用</div>
            <div class="input_form">￥0.00</div>
        </label>

        <label class="input_list">
            <div class="title">当期已还金额</div>
            <div class="input_form">￥0.00</div>
        </label>

        <label class="input_list">
            <div class="title">当期剩余应还金额</div>
            <div class="input_form">￥0.00</div>
        </label>

        <label class="input_list">
            <div class="title">当期最迟还款日</div>
            <div class="input_form">2018-01-05</div>
        </label>
    </div>

</div>