<div class="salary_record return_record">

    <div class="main_record">


        <div class="record_lists">
            <div>
                <img src="../../images/icon_zfb.png">
                <p>
                    <span>支付宝</span>
                    <span>2018-02-17 10:00:00</span>
                </p>
            </div>
            <div>
                <p>￥995.00</p>
                <span>自主还款</span>
            </div>
        </div>
        <div class="record_lists">
            <div>
                <img src="../../images/icon_wechat.png">
                <p>
                    <span>微信</span>
                    <span>2018-02-17 10:00:00</span>
                </p>
            </div>
            <div>
                <p>￥995.00</p>
                <span>自主还款</span>
            </div>
        </div>
        <div class="record_lists">
            <div>
                <img src="../../images/icon_welfare_balance.png">
                <p>
                    <span>福利余额</span>
                    <span>2018-02-17 10:00:00</span>
                </p>
            </div>
            <div>
                <p>￥995.00</p>
                <span>系统扣款</span>
            </div>
        </div>
        <div class="record_lists">
            <div>
                <img src="../../images/icon_welfare_balance.png">
                <p>
                    <span>福利余额</span>
                    <span>2018-02-17 10:00:00</span>
                </p>
            </div>
            <div>
                <p>￥995.00</p>
                <span>系统扣款</span>
            </div>
        </div>

    </div>


    <div class="no_more_record">
        <img src="../../images/icon_more_record.png">
        <p>没有更多记录了</p>
    </div>




</div>