<div class="salary_record">

    <div class="main_record">

        <!-- <a class="record_lists approve">
             <div>
                 <img src="../../images/icon_approving.png">
                 <span>￥995.00</span>
             </div>
             <div>
                 <span>审批中</span>
                 <span>2017-02-02</span>
             </div>
         </a>-->

        <a class="record_lists finished" href="../record/return_wait.html">
            <div>
                <img src="../../images/repayments.png">
                <span>￥995.00</span>
            </div>
            <div>
                <span>待还款</span>
                <span>2018-02-17</span>
            </div>
        </a>

        <a class="record_lists return" href="../record/process_return_ing.html">
            <div>
                <img src="../../images/repayments_ing.png">
                <span>￥3005.00</span>
            </div>
            <div>
                <span>还款中</span>
                <span>2018-02-11</span>
            </div>
        </a>

        <a class="record_lists nopassed" href="../record/return_pays_off.html">
            <div>
                <img src="../../images/repayments_paid_off.png">
                <span>￥555.00</span>
            </div>
            <div>
                <span>已还清</span>
                <span>2018-02-01</span>
            </div>
        </a>


        <!-- <a class="record_lists approve">
             <div>
                 <img src="../../images/icon_approving.png">
                 <span>￥995.00</span>
             </div>
             <div>
                 <span>审批中</span>
                 <span>2017-02-02</span>
             </div>
         </a>-->

        <a class="record_lists finished" href="../record/return_wait.html">
            <div>
                <img src="../../images/repayments.png">
                <span>￥995.00</span>
            </div>
            <div>
                <span>待还款</span>
                <span>2018-01-17</span>
            </div>
        </a>

        <a class="record_lists return" href="../record/process_return_ing.html">
            <div>
                <img src="../../images/repayments_ing.png">
                <span>￥3005.00</span>
            </div>
            <div>
                <span>还款中</span>
                <span>2018-01-05</span>
            </div>
        </a>

        <a class="record_lists return" href="../record/process_return_ing.html">
            <div>
                <img src="../../images/repayments_ing.png">
                <span>￥3005.00</span>
            </div>
            <div>
                <span>还款中</span>
                <span>2018-02-17</span>
            </div>
        </a>



    </div>


    <div class="no_more_record">
        <img src="../../images/icon_more_record.png">
        <p>没有更多记录了</p>
    </div>




</div>