<div class="stages_record_list">

    <div class="record_list_plate">

        <div class="list_plate">

            <div class="list_inline_plate">

                <p>期数</p>

                <p>待还金额</p>

                <p>待还时间</p>

                <p>状态</p>

                <div></div>

            </div>

        </div>

    </div>

    <div class="main_record">

        <div class="list_plate">

            <div class="list_inline_plate">

                <p>期数</p>

                <p>待还金额</p>

                <p>待还时间</p>

                <p>状态</p>

                <div></div>

            </div>

        </div>

    </div>

</div>

