<div class="record_list_plate">

    <div class="list_plate">

        <p class="list_inline_plate black_font">

            <span>期数</span>

            <span>待还金额</span>

            <span>待还时间</span>

            <span>状态</span>

        </p>

    </div>

</div>

<div class="record_list_pich"></div>

<div class="shadow_plate">

    <div class="list_shadow_plate">

        <p class="list_inline_plate grey_font">

            <span>1/3</span>

            <span>￥106000.00</span>

            <span>2018-02-03</span>

            <span>已还清</span>

        </p>

        <div class="left_icon"></div>

    </div>

    <div class="list_shadow_plate">

        <p class="list_inline_plate orange_font">

            <span>2/3</span>

            <span>￥1060.00</span>

            <span>2018-02-03</span>

            <span>还款中</span>

        </p>

        <div class="left_icon"></div>

    </div>

    <div class="list_shadow_plate">

        <p class="list_inline_plate black_font">

            <span>3/3</span>

            <span style="color: #4a4a4a;">￥1060.00</span>

            <span>2018-02-03</span>

            <span>待还款</span>

        </p>

        <div class="left_icon"></div>

    </div>

</div>

