.record_list_plate {
  background-color: #ffffff;
  width: 100%;
  position: fixed;
  top: 0;
  margin-bottom: 20px;

  .list_plate {
    width: 90%;
    margin: 15px auto;
    padding: 0 15px;

  }

}

.record_list_pich {
  padding-top: 55px;
}

.shadow_plate {
  border-radius: 5px;
  margin: 20px auto;
  width: 90%;
  background-color: #ffffff;
  box-shadow: 0 2px 3px #e9e9e9;

  .list_inline_plate {

    span {

      &:nth-child(2) {
        padding-left: 15px;
      }

    }

  }

  .list_shadow_plate {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;

    &:active {
      opacity: .60;
    }

    .return_list_plate {

      span {

        &:nth-child(1) {
          padding-left: 15px;
          font-size: 16px;
        }

      }

    }

    &:last-child {
      &:after {
        display: none;
      }
    }

    &:after {
      content: '';
      position: absolute;
      width: 130%;
      transform: scale(0.7);
      bottom: 0;
      left: -15%;
      border-bottom: 1px #dddddd solid;
    }

    .list_inline_plate {
      padding: 15px 0;
    }

    .left_icon {
      position: relative;
      width: 8px;
      height: 8px;
      margin-right: 15px;
      transform: rotate(-45deg);

      &:before {
        content: '';
        position: absolute;
        width: 1px;
        height: 100%;
        top: 0;
        right: 0;
        border-right: 1px #ababab solid;
      }

      &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: 0;
        left: 0;
        border-bottom: 1px #ababab solid;
      }

    }

  }

}

.list_inline_plate {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 14px;
  position: relative;

  &:last-child {
    &:after {
      display: none;
    }
  }

}

.black_font {
  color: #7b7b7b;
}

.orange_font {
  color: #f39800;
}

.grey_font {
  color: #ababab;
}

/********“逾期”标签，及橙色字体*******/
.return_ing_orange {

  .grey_font {
    color: #f39800;
  }

  .black_font {
    color: #f39800;
  }

  .list_inline_plate {

    span {

      &:nth-child(2) {
        position: relative;

        &:before {
          content: '逾期';
          position: absolute;
          width: 25px;
          height: 12px;
          border-radius: 2px;
          background-color: #f39800;
          color: #ffffff;
          left: -8px;
          top: -8px;
          font-size: 10px;
          line-height: 13px;
          text-align: center;
        }

        &:after {
          content: '';
          position: absolute;
          height:0;
          width:0;
          left: 8px;
          top: 2px;
          border-top:solid 4px #f39800;
          border-left:solid 8px transparent;
        }

      }

    }

  }

}

/********还清灰色字体*******/
.pays_off_grey {

  .grey_font {
    color: #ababab;
  }

  .black_font {
    color: #ababab;
  }

}





















