<div class="record_list_plate">

    <div class="list_plate">

        <p class="list_inline_plate black_font">

            <span>期数</span>

            <span>待还金额</span>

            <span>待还时间</span>

            <span>状态</span>

        </p>

    </div>

</div>

<div class="record_list_pich"></div>

<div class="shadow_plate">

    <!-------有 class 值 pays_off_grey ，整行字体为灰色------->
    <a class="list_shadow_plate pays_off_grey" href="stages_record_details.html">

        <p class="list_inline_plate grey_font">

            <span>1/3</span>

            <span class="black_font">￥106000.00</span>

            <span>2018-02-03</span>

            <span>已还清</span>

        </p>

        <div class="left_icon"></div>

    </a>

    <!-------有 class 值 return_ing_orange ，整行字体为橙色，有“逾期”标签------->
    <a class="list_shadow_plate return_ing_orange" href="stages_record_details.html">

        <p class="list_inline_plate grey_font">

            <span>2/3</span>

            <span class="black_font">￥1060.00</span>

            <span>2018-02-03</span>

            <span>还款中</span>

        </p>

        <div class="left_icon"></div>

    </a>

    <a class="list_shadow_plate" href="stages_record_details.html">

        <p class="list_inline_plate grey_font">

            <span>3/3</span>

            <span class="black_font">￥1060.00</span>

            <span>2018-02-03</span>

            <span>待还款</span>

        </p>

        <div class="left_icon"></div>

    </a>

</div>

