<div class="salary_authorise_agreement">


    <p class="title">嘉白条（薪资预支）服务协议</p>

    <!--tip-->
    <div class="agreement_main">
        <div>合同编号：</div>
        <div> 特别提醒：在受款人确认同意本合同之前，受款人应已清楚知悉并充分理解薪资预支产品的所有信息，同意向<span class="red_word">【上海淘略数据处理有限公司】</span>（以下简称“预支人”）申请“薪资预支”（以下简称“本预支”或“预支”）。一旦受款人在预支网站或其他与本预支相关的客户端（以下简称“预支网络平台”）点击接受本合同，即意味着受款人已阅读本合同所有条款，并对本合同条款的含义及相应的法律后果已全部通晓并充分理解，同意接受本合同约束。
            <p class="text_line">为充分维护受款人的合法权益，预支人特提醒受款人特别关注本合同条款中的黑体及加下划线部分。本合同若干条款（包括但不限于第五条、第七条、第八条、第十一条至第十八条）含有限制或免除预支人责任的内容，请受款人务必仔细阅读。</p>
        </div>
    </div>


    <!--第二部分-->
    <div class="Part_1">
        <!--第一章-->
        <div class="Chapter_1">第一条预支基本信息</div>
        <div class="Duanluo">
            为了保护受款人的个人信息，本合同在预支网络平台展示时部分隐藏受款人的身份信息和收款账户信息。受款人承诺,其系在线确认本合同的嘉福账户的持有人。受款人知晓并同意，在线确认本合同的嘉福账户的持有人为本合同项下的受款人,且本合同对受款人个人信息的部分隐藏不影响本合同的效力。以下“受款人收款账户”是指受款人在预支网络平台自行填写或选择的收款账户（系统默认以受款人前述嘉福账户作为收款账户）。
        </div>

        <div>
            <p>
                <span class="Chu">受款人：</span>
                <span class="contract_keys">*昌朋</span>
            </p>
            <p>
                <span class="Chu">证件类型：</span>
                <span class="contract_keys">身份证</span>
            </p>
            <p>
                <span class="Chu">证件号码：</span>
                <span class="contract_keys">2************0</span>
            </p>
            <p>
                <span class="Chu">预支金额：</span>
                <span><span class="contract_keys">1.00</span> 元(大写:<span class="contract_keys">壹元整</span>)</span>
            </p>
            <p>
                <span class="Chu">受款人收款账户：</span>
                <span>嘉福平台账号 <span class="contract_keys"> 159****6486</span></span>
            </p>
            <p>
                <span class="Chu">还款方式：</span>


            </p>
                <table class="tab_box">

                <tr>
                    <th>期数</th>
                    <th>最迟还款日</th>
                    <th>还款金额(含服务费)</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2018-4-16</td>
                    <td>1000.00</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>2018-5-16</td>
                    <td>1000.00</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>2018-6-16</td>
                    <td>1000.00</td>
                </tr>

                </table>

            <p>
                <span class="Chu">合同日期：</span>
                <span class="contract_keys">2016年8月30日</span>
            </p>
            <p>
                <span class="Chu">合同签订地：</span>
                <span class="contract_keys">上海市徐汇区</span>
            </p>


        </div>

        <!--2-->
        <div class="Chapter_1">第二条受款人确认</div>
        <div class="Duanluo">
            <p>受款人在签约前须确认并保证受款人同时满足以下条件，并承诺在本合同有效期内始终有效：</p>
            <p>1、受款人具有签订和履行本合同的资格和能力，受款人可以独立地作为一方诉讼主体；</p>
            <p>2、受款人签订本合同已获得所有必需的授权或批准，签订和履行本合同不违反受款人作为签约一方的任何协议以及相关法律法规的规定，与受款人应承担的其他合同项下的义务均无抵触；</p>
            <p>3、受款人使用预支资金交易行为真实、合法、有效，不存在任何虚假交易；</p>
            <p>4、使用以受款人本人名义注册的经过嘉福实名认证并设置了密码的个人嘉福账户在预支网络平台所从事的所有行为均视为受款人本人行为，包括但不限于订立本合同、申请支用预支和归还预支等，该等行为的法律后果均由受款人本人承担；</p>
            <p>5、受款人有足够的偿债能力归还本合同项下的预支本息；</p>
            <p>6、受款人提供给预支人的所有文件和资料都是真实、准确、完整和有效的，不存在虚假记载、重大遗漏或误导性陈述；</p>
            <p>7、本合同第一条所述受款人的收款账户为受款人所有并使用；</p>
            <p>8、受款人确认，预支人已提请您特别注意本合同中有关您权力义务的全部条款，并应您的要求对该条款做了相应说明；</p>
        </div>
        <!--3-->
        <div class="Chapter_1">第三条合同构成</div>
        <div class="Duanluo">
            <p>本合同由本合同条款、受款人在预支网络平台信息系统填写的所有信息、预支网站各项规则和预支网络平台其他与本预支相关的页面信息组成，各组成部分均具有法律效力，与本合同条款有冲突的以本合同条款为准。</p>
        </div>
        <!--4-->
        <div class="Chapter_1">第四条合同形式</div>
        <div class="Duanluo">
            <p>受款人与预支人一致同意本合同以数据电文形式订立并认同其效力。</p>
        </div>
        <!--5-->
        <div class="Chapter_1">第五条合同的生效</div>
        <div class="Duanluo">
            <p class="text_line">受款人在预支网络平台输入受款人的嘉福账户支付密码确认本合同后并不导致本合同立即生效，仅在经过预支人审核通过并将预支资金划入本合同第一条约定的受款人收款账户时，本合同始在受款人和预支人之间生效。</p>
        </div>
        <!--6-->
        <div class="Chapter_1">第六条预支发放</div>
        <div class="Duanluo">
            <p>受款人同意，预支人将预支资金通过其在嘉福网站（www.jia-fu.cn）开立的嘉福账户（以下简称“预支人嘉福账户”）全额划入本合同第一条约定的受款人收款账户。</p>
            <p>本合同项下的预支发放日为预支资金划入受款人收款账户的日期。</p>
        </div>
        <!--7-->
        <div class="Chapter_1">第七条预支金额</div>
        <div class="Duanluo">
            <p>预支金额具体参见本合同第一条，受款人可登录嘉福网站查询。</p>
            <p>若因预支网络平台或与本合同项下预支相关的其他网站网络系统原因导致预支人实际发放给受款人的预支金额（以下简称“实际发放金额”）与按本合同应发放的预支金额（以下简称“应发金额”）不一致，则受款人和预支人同意按以下规则调整：</p>
            <p>若实际发放金额< 应发金额，则受款人的预支金额以实际发放金额为准；</p>
            <p>若应发金额< 实际发放金额，则受款人的预支金额以应发金额为准，预支人有权要求受款人返还相当于实际发放金额与应发金额之差额的资金，受款人在接到预支人书面通知后5个工作日内应无条件将前述差额资金返还给预支人，预支人对在上述5个工作日内返还的该等差额资金不计息，否则超过上述时限后受款人应就该等差额资金按本合同第十条规定的逾期罚息利率向预支人加付违约金，且受款人同意预支人通过嘉福公司持续从受款人的任何一个或几个嘉福账户中扣划前述差额资金和违约金至预支人嘉福账户。</p>
        </div>
        <!--8-->
        <div class="Chapter_1">第八条预支期限</div>
        <div class="Duanluo">
            <p>除本合同另有约定外，受款人的预支期限具体参见本合同第一条，从预支发放之日起计算，不可展期。</p>
            <p>发生以下任一情形时，预支人有权自主决定本合同项下已发放的部分或全部预支提前到期：</p>
            <p>1、受款人未能按本合同约定偿付到期本金和/或手续费的；</p>
            <p>2、预支人发现受款人的交易订单存在虚假交易；</p>
            <p>3、预支人认为受款人存在本合同第十三条项下任一违约情形或违反本合同任一条款的；</p>
            <p>4、受款人对预支人或其关联公司的其他任何债务（如有）已到期（包括被宣布提前到期）后仍未偿还，或者受款人不履行或违反受款人与预支人或其关联公司其他任何合同（如有）项下受款人应承担的任何义务，已经或可能影响受款人履行本合同项下义务；</p>
            <p>5、受款人的任何嘉福账户发生异常现象;</p>
            <p>6、受款人从原公司离职或原公司不再为受款人充值嘉福福利账户；</p>
            <p>7、受款人发生其他重大不利变化，已经或可能影响受款人履行本合同项下义务的能力。</p>
        </div>
        <!--9-->
        <div class="Chapter_1">第九条预支用途</div>
        <div class="Duanluo">
            <p>本合同项下的预支专用于受款人日常消费之用。</p>
        </div>

        <!--10-->
        <div class="Chapter_1">第十条预支手续费、罚息利率和计息、结息、付息</div>
        <div class="Duanluo">
            <p>一、预支手续费与利率</p>
            <p>受款人需要按约定的时间支付一定的服务费，在约定的时间内还款不再收取其它费用（提前还款约定服务费不变），但未在约定时间内还款，将视为逾期，收取每日0.5%的手续费。</p>
            <p>若受款人有权获得预支人的手续费折扣优惠时，本合同第一条的预支实际手续费即为相应的折后手续费；若受款人逾期归还预支本金或其他费用（如有），预支人有权取消优惠，以预支初始手续费计算。</p>
            <p>受款人使用优惠前必须认可预支人在预支相关页面关于折扣优惠的所有页面文案及规则（以下简称“优惠规则”）。若受款人不予认可优惠规则的，预支人有权取消优惠，以预支初始日手续费计算。</p>
            <p>（二）罚息利率</p>
            <p>本合同项下预支逾期的罚息利率为在上述每日0.5%计算。</p>
            <p>二、计息、结息和付息</p>
            <p>预支手续费自预支发放日起扣除，预支罚息自逾期产生日（含逾期日）计算，按日计息。</p>
            <p>如受款人未能按期归还预支本金（包括被预支人宣布全部或部分提前到期的预支本金），预支人有权自逾期之日起按本合同约定的逾期罚息利率计收罚息。对受款人未按时支付本金，按逾期罚息利率计收复利。</p>
            <p>如受款人未按本合同约定用途使用预支的，预支人有权自预支被挪用之日起，对挪用部分按本合同约定的挪用预支罚息利率计收罚息，预支被挪用期间未按时支付的手续费，按挪用预支罚息利率计收复利。</p>
            <p>对于既逾期又未按本合同约定用途使用预支的，择较重者计收罚息，不予并处。</p>

        </div>


        <!--11-->
        <div class="Chapter_1">第十一条还款</div>
        <div class="Duanluo">
            <p>一、本合同项下预支需要收取一定的服务费，受款人需要在偿还本金时一并支付。</p>
            <p>二、对于本合同项下之预支本金和/或相应手续费，受款人应按本合同还款方式约定还款。预支人将根据受款人的还款方式、预支本金、还款日期和预支手续费等为受款人计算受款人到期时的应还款额（包括本金及如逾期所产生逾期手续费）。受款人可在预支网络平台页面查询受款人每个还款日的应还款额。</p>
            <p>三、受款人应保证受款人的嘉福账户付款功能未受限制，并在还款日中午12:00（北京时间，下同）之前，将应还预支本息足额存入受款人的嘉福账户，且受款人同意预支人通过嘉福公司在还款日及逾期后自受款人的嘉福账户中扣收应还预支本息和相应费用（如有）。一旦受款人的嘉福账户付款功能受到限制，受款人应及时通知预支人变更还款账户，以免逾期。</p>
            <p>每个还款日当天，若受款人的嘉福账户开通的嘉福公司其他代扣服务的扣款时间优先于预支人指示嘉福公司发起的预支还款扣款时间，受款人应当通过其他途径按时还款（包括但不限于通过预支网络平台主动还款），以免逾期。</p>
            <p>受款人的还款时间以预支人嘉福账户实际收到受款人还款的时间为准，还款金额以预支人嘉福账户实际收到受款人的还款金额为准。预支人有权将受款人的还款首先用于偿还本合同约定的应由受款人承担而由预支人垫付的各项费用以及预支人实现债权的费用（以下统称为“费用”），包括但不限于诉讼费、律师代理费、催收费用等，剩余款项按照先还息后还本、利随本清的原则偿还；且预支人有权对受款人还款的清偿顺序作出合理调整。</p>
            <p>五、受款人同意，若受款人的嘉福账户余额不足以归还任何其在预支人及其关联公司处已到期（含提前到期）之债务的，预支人有权通知嘉福公司立即停止向受款人提供受款人在嘉福网站所注册的所有嘉福账户提现和支付功能等服务；受款人并同意（1）预支人通过嘉福公司持续从受款人的任何一个或几个嘉福账户和银行账户（包括但不限于与嘉福账户绑定的借记卡账户）资金（包括但不限于已冻结的各类保证金）中优先扣划应还预支费用（如有）和本息至预支人嘉福账户，直至欠款全部还清；（2）若受款人在预支人关联公司处有任何应收或留存款项，预支人有权直接通过其关联公司自前述款项中扣收相应金额用以偿还受款人在本合同项下的欠款；以及（3）受款人不可撤销地授权预支人代受款人持续向嘉福“理财账户”服务的合作金融机构发送理财产品交易委托指令，直接将受款人通过嘉福“余额宝”服务购买的理财产品全部或部分转让或赎回，并以转让或赎回交易所得款项用于偿还受款人在预支人及其关联公司处的债务，直至债务清偿完毕。受款人承诺前述交易委托指令如同受款人本人作出。</p>
            <p>受款人不可撤销地同意及授权嘉福公司和银行按照本合同的约定，根据预支人的指示从受款人一个或几个嘉福账户和银行账户中扣划款项用于归还本合同项下的欠款。</p>
            <p>六、提前还款</p>
            <p>预支期限届满前，在征得预支人同意的前提下，受款人可提前归还全部或部分预支本金；提前还款不收取手续费，并且无优惠。 </p>
            <p>预支人有权根据受款人的实际情况要求受款人以除本条所述方式以外的其他方式偿还本合同项下的预支。</p>

        </div>

        <!--12-->
        <div class="Chapter_1">第十二条权利和义务</div>
        <div class="Duanluo">
            <p>一、受款人的主要权利和义务</p>
            <p>1、受款人有权要求预支人对受款人提供的财务资料以及生产经营方面的商业秘密予以保密，但法律法规另有规定或本合同另有约定的除外。</p>
            <p>2、受款人为签署本合同所需的全部内部授权手续均已办理完毕并充分有效。受款人签署本合同、履行其在本合同项下的义务，均不会与其现行章程和内部规章或对受款人有约束力的任何合同、协议及其他文件相抵触。</p>
            <p>3、受款人保证受款人在预支网络平台信息系统中提供的任何信息均真实、合法、有效。</p>
            <p>4、受款人应妥善保管其嘉福账户名、密码、数字证书、与嘉福账户绑定的手机号码、手机验证码等与嘉福账户有关的一切信息。受款人应确保不向其他任何人泄露其嘉福账户的密码。对于因密码泄露所致的损失，由受款人自行承担。如受款人发现有他人冒用或盗用受款人的嘉福账户及密码或任何其他未经合法授权之情形时，应立即以有效方式通知预支人，要求其暂停相关行为。同时，受款人理解预支人对受款人的请求采取行动需要合理期限，在此之前，预支人对已执行的指令及（或）所导致的受款人的损失不承担任何责任。</p>
            <p>5、受款人同意在受款人未清偿所有应还款项前，若申请变更、注销受款人的任何一个嘉福账户的，均应事先征得预支人的同意。</p>
            <p>6、受款人应按本合同的约定归还全部预支本息及其他有关费用。</p>
            <p>7、受款人应按本合同约定的用途使用预支，未经预支人书面同意受款人不得将预支挪作他用。</p>
            <p>8、受款人不得将预支用于有价证券、期货买卖及股本权益性投资。</p>
            <p>9、受款人不得利用本合同或本合同项下的预支规避相关法律法规或规章的要求（包括但不限于税务方面政策法规的要求），否则与此相关的任何法律责任应由受款人自行承担，与预支人无涉。</p>
            <p>10、接受预支人对本合同项下预支使用情况和有关受款人财务活动情况进行监督和检查，按照预支人的要求及时提供真实、准确、完整的资料，并为预支人的前述监督和检查提供工作方便。</p>
            <p>11、受款人变更通讯地址、电子邮件地址、电话、嘉福账户、工作单位等事项的，应于变更后五日内书面通知预支人。</p>
            <p>12、如受款人发生对受款人正常财务情况及嘉福账户构成威胁或对受款人履行本合同项下的义务产生不利影响的任何其他事件，包括但不限于涉及或可能涉及经济纠纷、财务状况恶化、离职、终止原劳动合同等，均应在该等情形发生之日起五日内书面通知预支人。</p>
            <p>13、受款人声明在订立本合同时受款人不存在任何违反有关所在公司劳动协议，并且承诺本合同订立后亦严格遵守所在公司劳动协议；若受款人上述声明虚假或者上述承诺未被履行，或者受款人可能发生违法违规风险，预支人有权停止向受款人发放预支、宣布预支提前到期，或者采取本合同约定或法律允许的其他救济措施。</p>
            <p>二、预支人的主要权利和义务</p>
            <p>1、预支人应按照本合同的约定履行权利义务。</p>
            <p>2、预支人有权对预支的使用情况和受款人的个人状况、家庭情况、财务活动等情况进行监督和检查。</p>
            <p>3、如预支人发现a)受款人在预支人系统中的行为数据或其他信息发生异常变化;或b)受款人在预支人关联公司网站上注册的账户出现异常现象;或c)受款人发生本合同约定的违约情形；或d)受款人不履行或违反与预支人或其关联公司的其他任何合同（如有）项下受款人应承担的任何义务，已经或可能影响受款人履行本合同项下义务，预支人有权基于合理怀疑停止向受款人发放预支或宣布预支提前到期或通知嘉福公司对受款人的嘉福账户进行权限限制或扣划相应款项用于偿还本合同项下欠款。</p>
            <p>4、在预支人认为必要的情况下，预支人有权参与受款人的对外投资、资产重组等重大事项或重大关联方交易，落实有效担保以及还本付息事宜。</p>
        </div>

        <!--13-->
        <div class="Chapter_1">第十三条 信息收集、使用、共享与保护</div>
        <div class="Duanluo">
            <p>一、收集受款人的信息</p>
            <p class="red_word">1、受款人了解并同意当受款人访问预支网站及其相关网站、预支移动设备客户端或受款人使用预支人的服务时，受款人须向预支人主动提供一些信息，且受款人同意并授权预支人为本合同项下预支之目的通过以下途径获取受款人的信息：</p>
            <p>1）收集受款人留存在预支人的关联公司处的信息；</p>
            <p>2）收集受款人留存在预支人合作伙伴（包括但不限于担保公司、证券机构、银行等，下同）处的信息；</p>
            <p>3）向中国人民银行金融信用信息基础数据库、依法设立的征信机构、资信评估机构或有关法律、监管机构许可的类似机构（以下统称“征信机构”）查询、核实、打印、留存受款人的信息和信用报告；</p>
            <p>4）向行政机关、司法机关查询、打印、留存受款人信息；</p>
            <p>5）向合法留存受款人信息的自然人、法人以及其他组织收集受款人的信息。</p>
            <p>2、受款人同意并授权预支人收集的受款人信息包括但不限于：</p>
            <p>1）受款人及其关联方的身份信息，包括但不限于姓名/名称、证件号码、证件类型、住所地、电话号码、嘉福账户认证信息以及其他身份信息；</p>
            <p>2）受款人在申请、使用预支人提供的服务时所提供以及形成的任何数据和信息，包括但不限于受款人的信息以及受款人提供的其关联方的信息；</p>
            <p>3）受款人及其关联方在预支人关联公司和合作伙伴处中留存以及形成的任何数据和信息，包括但不限于受款人的嘉福账户和/或证券账户和/或银行账户信息、受款人在支付宝、京东网站、嘉福网站或嘉福公司合作的其他任一网站上形成的任何信息和数据、受款人与预支人的关联公司之间以及受款人与合作方之间存在的任何合同及受款人在该等合同项下的履约情况、受款人在预支人的关联公司电子商务平台上的行为数据；</p>
            <p>4）受款人的信用信息，包括但不限于受款人的征信记录和信用报告；</p>
            <p>5）受款人的财产信息，包括但不限于受款人的个人状况、财税信息、房产信息、车辆信息、基金、保险、股票、信托、债券等投资理财信息和负债信息等；</p>
            <p>6）受款人在行政机关、司法机关留存的任何信息，包括但不限于户籍信息/工商信息、诉讼信息、执行信息和违法犯罪信息等；</p>
            <p>7）与受款人申请或使用的预支人服务相关的、受款人留存在其他自然人、法人和组织的其他相关信息。</p>
            <p>二、使用受款人的信息</p>
            <p>为了更好地为受款人提供服务，也为了预支人自身的信贷风险防控，受款人同意并授权预支人将受款人的信息用于如下用途：</p>
            <p>1）创建数据分析模型，为受款人提供适合于受款人的融资、担保、保理、保险、理财、网络平台、技术等服务，并维护、改进这些服务；</p>
            <p>2）比较信息的准确性并与第三方进行验证；</p>
            <p>3）合理评估受款人和/或其关联方的经营状况，防控风险；</p>
            <p>4）为使受款人知晓预支人的服务情况或了解预支人的服务，通过电子邮件、微信、短信、手机短信和传真等方式向受款人发送服务状态的通知、营销活动及其他商业性电子信息；</p>
            <p>5）因受款人和/或其关联方与预支人的纠纷未能够协商解决而需要通过借助催收及法律途径解决的，预支人会将受款人的信息提供给催收公司、律师事务所、法院、仲裁委员会和其他有权机关；</p>
            <p>6）预防或阻止非法的活动；</p>
            <p>7)经受款人许可的其他用途。</p>
            <p>三、分享受款人的信息</p>
            <p>预支人对受款人的信息承担保密义务，不会为满足第三方的营销目的而向其出售或出租受款人的任何信息，预支人会在下列任一情况下才将受款人的信息与第三方共享：</p>
            <p>1）获得受款人的同意或授权；</p>
            <p>2）为了向受款人提供或推荐预支人的关联公司的服务和/或产品的需要，将受款人的信息提供给预支人的关联公司使用，且受款人同意预支人的关联公司通过电子邮件、嘉福消息、手机短信和微信等方式向受款人发送服务状态的通知、营销活动及其他商业性电子信息；</p>
            <p>3）某些服务和/或产品和/或推广活动由预支人的合作伙伴提供或由预支人与合作伙伴共同提供，预支人会与其共享并使用；</p>
            <p>4）为建立信用体系，向征信机构发送受款人的信息，受款人同意并授权预支人将受款人的不良信息发送征信机构且不再另行通知受款人；</p>
            <p>5）根据法律法规的规定及有权机关的要求；</p>
            <p>6）若受款人在本合同下的任何应付款项逾期，受款人不可撤销地授权并同意预支人有权在预支人及其关联公司旗下任一网站、其他媒体和预支人认为必要的区域范围内的任意位置公示受款人违反本合同的相关信息，包括但不限于姓名/名称、肖像、证件号码、住址、具体违约状况等信息；受款人同意预支人及其关联公司有权停止向受款人提供任何服务，因此给受款人造成损失的，前述主体均不承担赔偿责任。</p>
            <p>四、受款人的信息保护</p>
            <p>预支人将根据法律法规规定对受款人的信息予以保密，但下列情形除外：</p>
            <p>（1）法律、法规、规章及其他规范性文件另有规定；</p>
            <p>（2）本合同另有约定。</p>
        </div>


        <!--14-->
        <div class="Chapter_1">第十四条违约及其违约处理</div>
        <div class="Duanluo">
            <p>一、违约情形：</p>
            <p>受款人发生下列任一情况，即构成违约：</p>
            <p>1、受款人未按本合同规定按时足额偿还预支本息或其他应付款项。</p>
            <p>2、受款人未按本合同约定用途使用预支的。</p>
            <p>3、受款人向预支人提供虚假的信息。</p>
            <p>4、受款人被宣告失踪、处于限制民事行为能力或丧失民事行为能力状态、被刑事监禁、或发生重大疾病、重大事故等可能危及本合同项下预支安全的情况。</p>
            <p>5、受款人卷入或即将卷入重大的诉讼或仲裁程序及其他法律纠纷，足以影响受款人的偿债能力。</p>
            <p>6、受款人转移资产，以逃避债务的。</p>
            <p>7、受款人未履行对预支人或其关联公司负有的其他到期债务，或预支人发现受款人有其他拖欠债务的行为的。</p>
            <p>8、受款人在嘉福平台上注册的账户发生不利变化或受到前述平台的处罚。</p>
            <p>9、受款人的资信情况或还贷能力出现其他重大不利变化（包括但不限于工作调整，收入降低、失业、重大疾病、拖欠其他债务、承担重大负债等）。</p>
            <p>10、受款人违反本合同约定的其他义务。</p>
            <p>二、违约救济措施</p>
            <p>如受款人出现本条第一款所述之任何违约情形，或违背受款人在本合同项下其他任何义务、陈述、保证或承诺的，预支人有权采取下列一项或多项措施，包括但不限于：</p>
            <p>1、要求受款人限期纠正违约行为。</p>
            <p>2、停止依据本合同或受款人与预支人之间的其他合同向受款人发放任何预支。</p>
            <p>3、自主决定本合同和受款人与预支人之间其他合同项下受款人未偿还的预支全部或部分提前到期，并要求受款人提前全部清偿。</p>
            <p>4、处分抵押/质押财产或要求保证人代偿（如有），实现预支人的债权。</p>
            <p>5、按本合同约定代表受款人转让或赎回受款人通过嘉福账户服务购买的部分或全部理财产品，并将转让或赎回交易所得款项用于偿还受款人在预支人及其关联公司处的欠款。</p>
            <p>6、通知预支人对受款人任何一个或几个嘉福账户权限进行限制，包括但不限于冻结受款人嘉福账户的部分或全部资金、停止向受款人提供所有嘉福账户支付、提现等服务。</p>
            <p>7、通知嘉福公司从受款人在嘉福网站的所有嘉福账户和银行账户资金（包括但不限于已冻结的各类保证金）中扣收全部或部分预支本息和其他应付款项。如果账户中款项的币种与预支币种不同，预支人有权按扣款当日中国人民银行公布的外汇中间价折算成预支币种清偿预支。</p>
            <p>8、若受款人在预支人关联公司处有任何应收或留存款项，预支人有权直接通过其关联公司自前述款项中扣划相应金额用以偿还受款人在本合同项下的欠款。</p>
            <p>9、以合法手段追偿预支（包括但不限于委托债务催讨公司、律师事务所等其他第三方机构代为追讨，申请相关部门进行调查、向法院提起诉讼等），由此引起的一切费用（包括但不限于诉讼费、财产保全费、执行费、仲裁费、律师代理费、差旅费、评估费、拍卖费、催收费用等）由受款人承担。</p>
            <p>10、预支人有权自行决定并通知关联公司依据其相关规则对受款人注册的理财账户、电子卡券进行冻结。</p>
            <p>11、预支人根据法律法规规定或本合同约定有权采取的其他违约救济措施。</p>
        </div>

        <!--15-->
        <div class="Chapter_1">第十五条信息系统中断或故障</div>
        <div class="Duanluo">
            <p>本预支网络平台信息系统因下列状况无法正常运作，使受款人无法使用各项服务或使预支人无法履行本合同时，预支人不承担损害赔偿责任，该状况包括但不限于：</p>
            <p>（一）在预支网络平台或与本合同项下预支相关的其他平台公告之系统维护期间。</p>
            <p>（二）电信设备出现故障不能进行数据传输的。</p>
            <p>（三）因台风、地震、海啸、洪水、停电、战争、恐怖袭击等不可抗力之因素，造成预支人系统障碍不能执行业务的。</p>
            <p>（四）由于黑客攻击、电信部门技术调整或故障、网站升级、银行方面的问题等原因而造成的服务中断或者延迟。</p>
        </div>

        <!--16-->
        <div class="Chapter_1">第十六条合同的适用法律及争议解决方式</div>
        <div class="Duanluo">
            <p>本合同适用中华人民共和国法律。本合同在履行过程中发生争议，可以协商解决，协商不成，向合同签订地人民法院起诉。在诉讼期间，本合同不涉及争议部分的条款仍须履行。</p>
        </div>


        <!--17-->
        <div class="Chapter_1">第十七条合同的变更、解除和权利义务的转让</div>
        <div class="Duanluo">
            <p>一、合同的变更和解除</p>
            <p>1、预支人有权不定期修改本合同，但相关修改不得加重受款人在预支金额、利（费）率和期限方面的责任。一旦条款产生变动，预支人将以书面形式通知受款人。</p>
            <p>2、除法律法规另有强制性规定外，经修订的合同一经通知，立即自动生效。一旦受款人继续使用本预支服务即被视为受款人已接受了修改后的合同内容；如受款人不同意相关变更，应自预支人的前述通知发出之日起5天内停止使用预支并在预支人要求的期限内归还全部预支和费用。</p>
            <p>3、本合同生效后，除本合同另有约定外，受款人不得要求单方擅自变更或解除本合同。预支人有权基于自身经营考虑，随时宣布中断、终止本合同或其任何部分，并要求受款人在约定期限内偿还本合同项下预支本息和费用。</p>
            <p>二、合同权利义务的转让</p>
            <p>未经预支人书面同意，受款人不得将本合同项下的权利和义务转让给任何第三方。</p>
            <p>预支人有权将其在本合同项下的权利和义务全部或部分转让给第三方，且预支人的转让行为无须征得受款人的同意，但预支人将以书面形式向受款人通知该等转让行为。</p>
        </div>

        <!--18-->
        <div class="Chapter_1">第十八条通知</div>
        <div class="Duanluo">
            <p>本合同履行过程中，预支人传递给受款人的书面通知，按照受款人在预支网络平台信息系统中填写的通讯地址交邮后的第三个自然日即视为送达。书面通知的形式还包括但不限于预支人采用在预支网络平台公告、嘉福平台公告、手机短信、微信和传真等电子方式，在采用电子方式进行书面通知的情况下发送当日即视为送达。</p>
        </div>

        <!--19-->
        <div class="Chapter_1">第十九条特定担保的追加</div>
        <div class="Duanluo">
            <p>受款人同意，若预支人将本合同项下的债权或债权收益权转让给第三方，则预支人有权追加担保公司（以下统称“担保公司”）为受款人提供连带责任保证，而无需另行通知受款人；且受款人承诺在担保公司承担保证责任后，有权立即向受款人追偿，若受款人未及时向担保公司偿还前述债务，自担保公司履行保证责任之日起，其有权每日按受款人未偿款项的0.08%向受款人加收滞纳金。受款人亦授权担保公司自受款人的任何一个或几个嘉福和银行账户中扣收届时受款人对其的欠款。</p>
        </div>


        <!--20-->
        <div class="Chapter_1">第二十条其他</div>
        <div class="Duanluo">
            <p>本合同取代受款人与预支人就有关本合同项下之预支于先前以口头或书面形式达成的任何协议或共识。</p>
        </div>

        <!--附件一-->
        <div class="Chapter_1">附件一：网络公示和终止服务同意函</div>
        <div class="Duanluo">
            <p>本人同意与上海淘略数据处理有限公司（以下简称“预支人”）在线订立《薪资预支合同》（以下简称“合同”）。</p>
            <p>本人/本公司同意，并声明如下：</p>
            <p>1、一旦本人违反与预支人的合同约定，预支人有权自行决定并直接通知嘉福平台及其他媒体和预支人认为必要的区域范围内的任意位置公示本人违反合同等其他相关信息，包括但不限于本人姓名名称、肖像、证件号码、住所地、个人信息、具体违约状况等信息。</p>
            <p>2、除公示上述信息外，预支人亦有权中止或提前终止与本人之间的已签订未履行，或仍在履行期内的服务协议，且无须退还任何服务费用（如有）；本人同意并确认，预支人有权拒绝向本人提供任何服务并无需承担任何责任。</p>
            <p>3、本人同意并确认，一旦本人违反与预支人的合同约定，预支人有权自行决定并通知关联公司依据其相关规则对本人或本人的关联人士注册的、以及由本人实际经营的所有嘉福账户及理财账户进行冻结账户、限制使用等处理措施。</p>
            <p>4、如本人已归还逾期的预支或以其它方式消除违约情形的，则本人同意自行督促预支人及时通知其关联公司删除相关信息或恢复相关服务协议的履行，预支人的关联公司不接受来自本人的任何通知。</p>
            <p>5、如预支人因合同第十五条所述原因导致其向本人所提供的信息有误，则本人了解并同意预支人没有过错，无须向本人承担任何责任。</p>
            <p>特此声明，且本声明一经确认，不可撤回或撤销。</p>
        </div>


        <!--附件二-->
        <div class="Chapter_1">附件二：授权书 </div>
        <div class="Duanluo">
            <p>鉴于本人将向上海淘略数据处理有限公司（以下简称“预支人”）申请薪资预支，为便于预支人同意本人预支申请，本人现授权上海淘略数据处理有限公司旗下嘉福平台（以下简称“嘉福平台”）以下事项：</p>
            <p>1、将本人向其提供的所有信息，包括但不限于个人身份信息，银行账号信息，信用信息等提供给预支人；</p>
            <p>2、将本人所有嘉福账户使用状况和账户信息随时通知预支人，包括但不限于买方申请退款、交易纠纷、交易信息、账户余额等；</p>
            <p>3、按照预支人指示，将预支划入本人嘉福账户；</p>
            <p>4、按照预支人指示，自本人任何一个或几个嘉福账户和银行账户资金（包括但不限于已冻结的各类保证金）中优先扣划相应款项用于偿还预支本息；</p>
            <p>5、按照预支人指示，对本人任何一个或几个嘉福账户权限进行限制，包括但不限于冻结本人嘉福账户的部分或全部资金、停止向本人提供所有嘉福账户支付、提现等服务；</p>
            <p>6、按照预支人的指示，代扣本人“嘉福理财”资金用于偿还本人在预支人及其关联公司处的债务直至清偿止，且该等授权不受本人是否与嘉福平台签署相关代扣协议的影响；因此造成的全部损失，由本人自行承担；</p>
            <p>7、本人同意，本人在未清偿预支人全部预支本息前若申请变更、注销本人任何一个嘉福账户，均应事先征得预支人同意；</p>
            <p>8、按照预支人指示，在嘉福网站（www.jia-fu.cn）任意位置公示本人违反《薪资预支合同》等其他相关信息，包括但不限于本人姓名、肖像、证件号码、住所地、个人信息、具体违约状况等信息。</p>
            <p>9、本人在此不可撤销且无条件的授权预支人通过其委托的银行或第三方支付机构从本人如下账户划扣《薪资预支合同》项下本人应偿还的预支本息。</p>
            <p>10、本人确认，本人提供的银行账户信息为真实、完整、准确的，且该等账户是本人合法拥有的账户。</p>
            <p>11、本人确认，如本人自有账户内的资金不足，或者由于本人的自有账户被查封、冻结等任何原因而导致无法及时扣款或扣款错误、失败，责任由本人自行承担。</p>
            <p>12、本授权自本授权书出具之日起，至本人在《薪资预支合同》项下的全部义务履行完毕时止。</p>
            <p>嘉福公司无须接受来自本人的任何通知。</p>
            <p>本授权书一经确认，不得撤回或撤销。</p>
        </div>
    </div>
</div>