<div class="fail_page">
    <%- include('../basic/icon_fail.ejs')%>

    <p class="fail_title">转让失败</p>

    <p class="fail_text">信用未达标，审核未通过</p>



    <%- include('../basic/one_red_btn.ejs',{
    "hrefone":"../homepage/homepage.html",
    "btntext":"确认"
    })%>

</div>
