<div class="wait_page">
    <%- include('../basic/icon_wait.ejs')%>

    <p class="wait_title">处理中</p>

    <p class="wait_text">申请处理中，可稍后查询</p>



    <%- include('../basic/one_green_btn.ejs',{
    "hrefone":"../homepage/homepage.html",
    "btntext":"返回"
    })%>

</div>
