<div class="success_page">
    <%- include('../basic/icon_success.ejs')%>

    <p class="success_title">已放款至平台，可消费可提现！
        </p>
    <p class="success_text">提现方法：我的->工资额度->提现到银行卡</p>

    <%- include('../basic/one_green_btn.ejs',{
    "hrefone":"../homepage/homepage.html",
    "btntext":"返回首页"
    })%>


</div>