<div class="salary_authorise_agreement">


    <p class="title">用户信息查询授权协议</p>

    <p>本协议是您（下称“用户”、“您”）与嘉福平台薪资预支（下称“我们”）之间就“个人信息授权”相关事宜（下称“本服务）所订立的协议。</p>

    <p>商业伙伴是我们提供服务的其他公司。</p>

    <p class="weight_word">本协议包含了采集、存储、保护和使用您的个人信息的条款，我们建议您完整地阅读本协议条款。</p>

    <p class="weight_word">为充分保障您个人信息的安全性，我们在此特别声明：</p>

    <p class="weight_word">1、鉴于您须授权我们的商业伙伴并由该商业伙伴及我们向您提供本服务，自您使用本服务时起即视为您与商业伙伴之间已存在合法的、充分的、必要的、不可撤销的授权。即您已明确授权商业伙伴为验证您的真实身份及评估您的信用信息而对您的身份信息及相关信用信息进行获取、验证、存储并在约定范围内使用。</p>

    <p class="weight_word">2、我们及商业伙伴仅是您授权采集和使用您个人信息的技术服务提供方。您在此明确授权并同意，由我们及商业伙伴对您的信息进行加工、储存、整理并在约定范围内使用。我们会采取合理、必要措施以保护您的隐私和信息安全。</p>

    <p class="weight_word">3、除本协议约定之外，未经您的授权，我们不会将您的信息提供给任何其他第三方。</p>

    <p class="weight_word">4、我们不会保存您的账户密码信息，我们仅会在您每次单独授权的情况下，方予采集相应信息，我们绝不会主动自行采集您的任何信息。</p>

    <p class="main"><span>第一条</span>  我们无法确保您授权采集的个人信息源数据的准确性、数据采集通道是否持续通畅，因此我们无法保证本服务提供的持续性、及时性、准确性，如您发现经我们采集的个人信息数据提供给经您授权的商业伙伴存在不准确或错误的情况，可联系您信息所在平台进行更正或删除。</p>

    <p class="main"><span>第二条</span>  您在此充分地、有效地、不可撤销地明示同意并授权我们及商业伙伴采集以下个人信息：</p>

    <p>1. 用户注册账号时，用户根据要求提供个人注册信息，包括但不限于姓名、性别、身份证号码、住址、联系方式等；</p>

    <p>2. 在用户使用我们产品服务，或访问我们产品时，我们自动接收并记录的用户的浏览器和设备上的信息，包括但不限于用户的宽带类型、IP地址、浏览器的类型、使用的语言、访问日期和时间、软硬件特征信息等数据；</p>

    <p>3. 用户使用我们产品时进行授权借记卡信息、信用卡信息、运营商信息、淘宝、京东等相关个人信息，具体如下：</p>

    <p class="small_tilte">一、信息获取范围</p>

    <p>您同意并授权我们及商业伙伴获取如下信息：</p>

    <p>1.个人基本信息：包括您的姓名、手机号码、身份证号码、通讯录联系人号码、身份照片、通信地址、单位名称、单位地址等。</p>

    <p>2.通讯运营商信息：包括您的登记姓名、手机号码、身份证号码、套餐信息、账单信息、通话记录、短信内容等；</p>

    <p>3.邮箱信息：包括您的账号信息、发件人、主题、所在文件夹以及根据关键字在您的“收件箱”、“已发送”、“群邮件”内的邮件进行匹配所采集的包括银行电子账单的相关信息等；</p>

    <p>4.电商平台(淘宝、京东）信息：包括您的实名认证状态、收货人姓名、收货人固话/手机、收货人地址、权益信息(花呗额度、白条额度等)；</p>

    <p>5.支付宝信息：包括您的绑定手机号（前3后4位）、实名认证状态、逾期还款记录；</p>

    <p>6.公积金信息：包括您的公积金缴纳所在地、缴纳公积金单位名称、账户余额、缴纳比例、缴纳基数等；</p>

    <p>7.社保信息：包括您的社保缴纳所在地、缴纳社保单位名称、缴纳比例、缴纳基数等；</p>

    <p>8.学历信息：包括您的入学时间、毕业时间、学历等；</p>

    <p>9.银行卡信息：包括您的登记姓名、手机号码、身份证号码、银行卡号等；</p>

    <p>10.社交信息：包括您的用户昵称、用户等级、用户基本资料信息等；</p>

    <p>11.第三方信用信息：包括不限于申请行为信息、信贷表现信息及其他非金融机构类信贷表现信息等。</p>

    <p class="small_tilte">二、信息获取途径</p>

    <p>您同意并授权我们及商业伙伴通过包括但不限于以下途径获取您的信息：</p>

    <p>1.向我们的关联公司获取您留存在关联公司的信息。</p>

    <p>2.向与我们合作的金融机构、类金融机构（包括但不限于融资租赁公司、商业保理公司、股权投资机构、小额贷款公司、融资担保公司、典当行、各类互联网金融企业等）及业务合作伙伴获取您的相关信息。</p>

    <p>3.向电信运营商获取您的通讯信息。</p>

    <p>4.向我们委托的第三方信用服务机构获取您的信用信息。</p>

    <p>5.向与我们合作的第三方数据公司收集包括但不限于您的以下信息：</p>

    <p>（1）您在行政机关、事业单位、司法机关或其他合法有权机构留存的任何信息、如户籍信息、诉讼信息、执行信息和违法犯罪信息等；</p>

    <p>（2）您的社保参保状态、缴费额度、缴费年限、缴费单位等；</p>

    <p>（3）您的公积金基本信息、缴存状态、缴存年限、缴存单位等；您的通讯号码、入网时间、联系地址等基本信息；</p>

    <p>（4）您的消费记录、欠费情况等通讯费用信息以及往来通讯号码、通话时长等通话详单信息；</p>

    <p>（5）您的银行信息，如开卡银行、银行卡号、额度、还款情况等基本信息，刷卡时间、地点、金额等用卡信息以及账户开立信息、账户余额、流水信息等。</p>

    <p>6.向政府公共信用信息平台及事业单位等一切盈利性、非盈利性、公共、民间的机构及组织收集您的相关信息。</p>

    <p>7.其他通过合法途径取得的与您接受服务相关的信息。</p>

    <p class="small_tilte">三、信息披露及使用方式</p>

    <p>为更加充分的了解您的情况以便向您提供服务及提升服务质量，您同意并授权我们通过以下包括但不限于以下方式披露及使用您的信息：</p>

    <p>1.向行业监管机构、我们的关联公司、我们合作的第三方信用服务机构以及我们合作的第三方数据公司、金融机构、类金融机构（包括但不限于融资租赁公司、商业保理公司、股权投资机构、小额贷款公司、融资担保公司、典当行、各类互联网金融企业等）提供您在平台的借款服务中产生的相关信息，包括但不限于个人基本信息、借款申请信息、借款合同信息以及还款行为信息。</p>

    <p>2.通过手机短信、邮件、微信、QQ等方式向您发送产品信息、服务状态通知、营销活动或其他商业性电子信息；</p>

    <p>3.授权我们合作的第三方信用服务机构以及平台合作的第三方查询服务提供机构可留存、整理及加工本次获取的个人信息用于评价您的信用情况或核实您的信息真实性。</p>

    <p>第三条  条款的解释、法律适用及争端解决</p>

    <p>本协议是由您与我们共同签订的，适用于您在本服务项下的全部活动，您在此不可撤销的授权我们、商业伙伴、我们合作的第三方核实、收集、共享和使用您的个人信息。</p>

    <p>如本协议中的任何条款无论因何种原因完全或部分无效或不具有执行力，则应认为该条款可与本协议相分割，并可被尽可能接近各方意图的、能够保留本协议要求的经济目的的、有效的新条款所取代，而且，在此情况下，本协议的其他条款仍然完全有效并具有约束力。</p>

    <p>本协议的有效性、履行与本协议所有事宜，将受中国法律管辖，任何争议仅适用中国法律；如有纠纷发生，任何一方均有权向北京仲裁委员会提起仲裁。</p>
</div>