<div class="fail_page">
    <%- include('../basic/icon_fail.ejs')%>

    <p class="fail_title">注册失败</p>

    <p class="fail_text">积累信用，静待重新开放注册！</p>



    <%- include('../basic/one_red_btn.ejs',{
        "hrefone":"../homepage/homepage.html",
        "btntext":"关闭"
    })%>
</div>

