<div class="success_page">
    <%- include('../basic/icon_success.ejs')%>

    <p class="success_title">认证成功</p>

    <p class="success_text">恭喜您，完成联系人信息认证！</p>

    <%- include('../basic/one_green_btn.ejs',{
    "hrefone":"main.html",
    "btntext":"返回"
    })%>

</div>