<div class="check_progress_page">


<%- include('../basic/progress_bar.ejs')%>


   <!-- <div class="approval_time">
        <span>审批时间：</span>
        <span>工作日9:30 - 17:00</span>
    </div>-->

<!--继续认证-->
<%- include('../basic/one_green_btn.ejs',{
"hrefone":"",
"btntext":"继续认证"
})%>

<!--返回首页-->
<div class="green_border_btn" style="margin-top: 0">
   <a href="../homepage/homepage.html">返回首页</a>
</div>

</div>

