<div class="record_list_plate">

    <div class="return_plate">

        <label class="checkbox_font">
            <input class="administrator_radio all_checked" type="checkbox" name="radio">
        </label>

        <div class="return_list_plate black_font">

            <span>待还金额</span>

            <span>待还时间</span>

            <span>详情</span>

        </div>

    </div>

</div>

<div class="record_list_pich"></div>

<!----------------列表------------------->
<div class="shadow_plate">

    <div class="list_shadow_plate return_list_orange">

        <label class="checkbox_font">
            <input class="administrator_radio part_checked" type="checkbox" name="radio" checked>
        </label>

        <a class="return_list_plate grey_font" href="return_details.html">

            <span class="zero_font">￥1060.00</span>

            <span>2018-02-03</span>

            <span class="left_icon"></span>

        </a>

    </div>

    <div class="list_shadow_plate return_list_orange">

        <label class="checkbox_font">
            <input class="administrator_radio part_checked" type="checkbox" name="radio">
        </label>

        <a class="return_list_plate grey_font">

            <span class="zero_font">￥1060.00</span>

            <span>2018-02-03</span>

            <span class="left_icon"></span>

        </a>

    </div>

    <div class="list_shadow_plate">

        <label class="checkbox_font">
            <input class="administrator_radio part_checked" type="checkbox" name="radio">
        </label>

        <a class="return_list_plate grey_font">

            <span class="zero_font">￥1060.00</span>

            <span>2018-02-03</span>

            <span class="left_icon"></span>

        </a>

    </div>

    <div class="list_shadow_plate">

        <label class="checkbox_font">
            <input class="administrator_radio part_checked" type="checkbox" name="radio">
        </label>

        <a class="return_list_plate grey_font">

            <span class="zero_font">￥1060.00</span>

            <span>2018-02-03</span>

            <span class="left_icon"></span>

        </a>

    </div>

    <div class="list_shadow_plate">

        <label class="checkbox_font">
            <input class="administrator_radio part_checked" type="checkbox" name="radio">
        </label>

        <a class="return_list_plate grey_font">

            <span class="zero_font">￥1060.00</span>

            <span>2018-02-03</span>

            <span class="left_icon"></span>

        </a>

    </div>

    <div class="list_shadow_plate">

        <label class="checkbox_font">
            <input class="administrator_radio part_checked" type="checkbox" name="radio">
        </label>

        <a class="return_list_plate grey_font">

            <span class="zero_font">￥1060.00</span>

            <span>2018-02-03</span>

            <span class="left_icon"></span>

        </a>

    </div>

    <div class="list_shadow_plate">

        <label class="checkbox_font">
            <input class="administrator_radio part_checked" type="checkbox" name="radio">
        </label>

        <a class="return_list_plate grey_font">

            <span class="zero_font">￥1060.00</span>

            <span>2018-02-03</span>

            <span class="left_icon"></span>

        </a>

    </div>

</div>

<%- include('../basic/one_green_btn.ejs',{
"hrefone":"../return/return_fail.html",
"btntext":"立即还款 ￥3180.00"
})%>

<script>


    //全选按钮是否被选中（只要一个没选就不全选）
    window.onload=function () {

        var allChecked=document.getElementsByClassName('all_checked')[0];

        var partChecked=document.getElementsByClassName('part_checked');

        allChecked.onclick=function () {

            for (var i=0;i<partChecked.length;i++) {

                partChecked[i].checked = this.checked;

            }

        }

        for ( var i = 0; i < partChecked.length; i++) {

            partChecked[i].onclick=function () {

                if (this.checked == false) {

                    allChecked.checked = false;

                }

                var ifChecked=myChecked();

                function myChecked() {

                    for (var i=0;i<partChecked.length;i++) {

                        if (partChecked[i].checked == false) {

                            return false;

                        }

                    }

                    return true;

                }

                if (ifChecked == false) {

                    allChecked.checked = false;

                }

                if (ifChecked == true) {

                    allChecked.checked = true;

                }

            }

        }

    }


</script>


















