<div class="fail_page">
    <%- include('../basic/icon_fail.ejs')%>

    <p class="fail_title">还款失败</p>



    <%- include('../basic/one_red_btn.ejs',{
    "hrefone":"#",
    "btntext":"确认"
    })%>

</div>
