<!--还款页面-->

<div class="return_money_page">

    <div class="return_main">

        <div class="green_bg"></div>
        <!--逾期（添加class值outdate）-->
        <div class="mian_panel outdate">
            <a class="list_line" href="../return/return_list.html">
                <p>当期应还</p>
                <p>￥1000.00</p>
            </a>

            <p class="list_line"><span>还款日：</span><span>2018/01/14</span></p>

            <p>
                <!--<img src="../../images/icon_smile.png">-->
                <!--<span>良好的还款习惯，是提升个人信用的开始</span>-->
            </p>
        </div>

    </div>



</div>



<div class="yellow_bottom_btn"><a href="../return/return_success.html">立即还款</a></div>

<div class="yellow_border_btn"><a href="../return/return_list.html">查看所有待还款</a></div>

