<div class="record_list_plate">

    <div class="return_plate">

        <label class="checkbox_font">
            <input class="administrator_radio all_checked" type="checkbox" name="radio">
        </label>

        <div class="return_list_plate black_font">

            <span>待还金额</span>

            <span>待还时间</span>

            <span>详情</span>

        </div>

    </div>

</div>

<div class="record_list_pich"></div>

<!----------------列表------------------->
<div class="shadow_plate">

    <div class="list_shadow_plate return_list_orange">

        <label class="checkbox_font">
            <input class="administrator_radio part_checked" type="checkbox" name="radio" checked data-num="1060.00">
        </label>

        <a class="return_list_plate grey_font" href="return_details.html">

            <span class="zero_font">￥1060.00</span>

            <span>2018-02-03</span>

            <span class="left_icon"></span>

        </a>

    </div>

    <div class="list_shadow_plate return_list_orange">

        <label class="checkbox_font">
            <input class="administrator_radio part_checked" type="checkbox" name="radio" checked data-num="1060.00">
        </label>

        <a class="return_list_plate grey_font" href="return_details.html">

            <span class="zero_font">￥1060.00</span>

            <span>2018-02-03</span>

            <span class="left_icon"></span>

        </a>

    </div>

    <div class="list_shadow_plate">

        <label class="checkbox_font">
            <input class="administrator_radio part_checked" type="checkbox" name="radio" data-num="1060.00">
        </label>

        <a class="return_list_plate grey_font" href="return_details.html">

            <span class="zero_font">￥1060.00</span>

            <span>2018-02-03</span>

            <span class="left_icon"></span>

        </a>

    </div>

    <div class="list_shadow_plate">

        <label class="checkbox_font">
            <input class="administrator_radio part_checked" type="checkbox" name="radio" data-num="1060.00">
        </label>

        <a class="return_list_plate grey_font" href="return_details.html">

            <span class="zero_font">￥1060.00</span>

            <span>2018-02-03</span>

            <span class="left_icon"></span>

        </a>

    </div>

    <div class="list_shadow_plate">

        <label class="checkbox_font">
            <input class="administrator_radio part_checked" type="checkbox" name="radio" data-num="1060.00">
        </label>

        <a class="return_list_plate grey_font" href="return_details.html">

            <span class="zero_font">￥1060.00</span>

            <span>2018-02-03</span>

            <span class="left_icon"></span>

        </a>

    </div>

    <div class="list_shadow_plate">

        <label class="checkbox_font">
            <input class="administrator_radio part_checked" type="checkbox" name="radio" data-num="1060.00">
        </label>

        <a class="return_list_plate grey_font" href="return_details.html">

            <span class="zero_font">￥1060.00</span>

            <span>2018-02-03</span>

            <span class="left_icon"></span>

        </a>

    </div>

    <div class="list_shadow_plate">

        <label class="checkbox_font">
            <input class="administrator_radio part_checked" type="checkbox" name="radio" data-num="1060.00">
        </label>

        <a class="return_list_plate grey_font" href="return_details.html">

            <span class="zero_font">￥1060.00</span>

            <span>2018-02-03</span>

            <span class="left_icon"></span>

        </a>

    </div>

    <div class="list_shadow_plate">

        <label class="checkbox_font">
            <input class="administrator_radio part_checked" type="checkbox" name="radio" data-num="1060.00">
        </label>

        <a class="return_list_plate grey_font" href="return_details.html">

            <span class="zero_font">￥1060.00</span>

            <span>2018-02-03</span>

            <span class="left_icon"></span>

        </a>

    </div>

    <div class="list_shadow_plate">

        <label class="checkbox_font">
            <input class="administrator_radio part_checked" type="checkbox" name="radio" data-num="1060.00">
        </label>

        <a class="return_list_plate grey_font" href="return_details.html">

            <span class="zero_font">￥1060.00</span>

            <span>2018-02-03</span>

            <span class="left_icon"></span>

        </a>

    </div>

    <div class="list_shadow_plate">

        <label class="checkbox_font">
            <input class="administrator_radio part_checked" type="checkbox" name="radio" data-num="1060.00">
        </label>

        <a class="return_list_plate grey_font" href="return_details.html">

            <span class="zero_font">￥1060.00</span>

            <span>2018-02-03</span>

            <span class="left_icon"></span>

        </a>

    </div>

    <div class="list_shadow_plate">

        <label class="checkbox_font">
            <input class="administrator_radio part_checked" type="checkbox" name="radio" data-num="1060.00">
        </label>

        <a class="return_list_plate grey_font" href="return_details.html">

            <span class="zero_font">￥1060.00</span>

            <span>2018-02-03</span>

            <span class="left_icon"></span>

        </a>

    </div>

    <div class="list_shadow_plate">

        <label class="checkbox_font">
            <input class="administrator_radio part_checked" type="checkbox" name="radio" data-num="1060.00">
        </label>

        <a class="return_list_plate grey_font" href="return_details.html">

            <span class="zero_font">￥1060.00</span>

            <span>2018-02-03</span>

            <span class="left_icon"></span>

        </a>

    </div>

    <div class="list_shadow_plate">

        <label class="checkbox_font">
            <input class="administrator_radio part_checked" type="checkbox" name="radio" data-num="1060.00">
        </label>

        <a class="return_list_plate grey_font" href="return_details.html">

            <span class="zero_font">￥1060.00</span>

            <span>2018-02-03</span>

            <span class="left_icon"></span>

        </a>

    </div>

    <div class="list_shadow_plate">

        <label class="checkbox_font">
            <input class="administrator_radio part_checked" type="checkbox" name="radio" data-num="1060.00">
        </label>

        <a class="return_list_plate grey_font" href="return_details.html">

            <span class="zero_font">￥1060.00</span>

            <span>2018-02-03</span>

            <span class="left_icon"></span>

        </a>

    </div>

    <div class="list_shadow_plate">

        <label class="checkbox_font">
            <input class="administrator_radio part_checked" type="checkbox" name="radio" data-num="1060.00">
        </label>

        <a class="return_list_plate grey_font" href="return_details.html">

            <span class="zero_font">￥1060.00</span>

            <span>2018-02-03</span>

            <span class="left_icon"></span>

        </a>

    </div>
</div>

<!------置底按钮------>
<div>

    <div class="fixed_bottom">

        <div class="bottom_btn">

            <a href="../return/return_fail.html">立即还款￥<span>2120.00</span></a>
        </div>

    </div>

    <div class="bottom_pich"></div>

</div>



<script>

addEventListener('load',function () {

    checkBoxFn()

},false)


</script>


















