<div class="list_box">
    <div class="q_a">
        <div class="q_1">
            <div class="icon_q">Q</div>
            <p class="title_q">分期有哪些费用？</p>
        </div>
        <!--<div class="line_1"></div>-->
        <div class="q_1">
            <div class="icon_a">A</div>
            <p class="content_q">分期只按期收取一定比例的分期服务费，具体查看分期时的页面显示</p>
        </div>
        <div class="line_2"><div class="line_1"></div></div>
        <div class="q_1">
            <div class="icon_q">Q</div>
            <p class="title_q">分期影不影响我的征信？</p>
        </div>
        <!--<div class="line_1"></div>-->
        <div class="q_1">
            <div class="icon_a">A</div>
            <p class="content_q">分期不查征信，故不影响征信。只要不严重逾期，是不会影响征信的。</p>
        </div>
        <div class="line_2"><div class="line_1"></div></div>
        <div class="q_1">
            <div class="icon_q">Q</div>
            <p class="title_q">授信额度是多少？</p>
        </div>
        <!--<div class="line_1"></div>-->
        <div class="q_1">
            <div class="icon_a">A</div>
            <p class="content_q">额度5000元-50000元。我们会根据您提交的信息综合评估，经常借款、按时还款、保持良好的信用记录，即有机会提额。</p>
        </div>

    </div>
</div>