<div class="success_page">
    <%- include('../basic/icon_success.ejs')%>

    <p class="success_title">添加成功</p>

    <%- include('../basic/one_green_btn.ejs',{
    "hrefone":"../return_bankcard/card_list.html",
    "btntext":"完成"
    })%>


</div>



