<div class="tips_title">
    <img src="../../images/icon_exclamation_mark.png">
    <span class="tips">为了您的资金安全，需要验证您的身份</span>
</div>


<div class="return_bankcard_all">
    <!--添加银行卡-->
    <div class="bank_card">
        <label class="input_list">
            <div class="title_n title_code"><span class="red_tips">*</span>持卡人</div>
            <div class="input_form_n">京晶婧</div>
        </label>

        <label class="input_list ">
            <div class="title_n title_code"><span class="red_tips">*</span>卡号</div>
            <div  class="input_form_n">
                <input placeholder="请输入银行卡号" type="number"/>
            </div>
        </label>

        <label class="input_list no_line">
            <div class="title_n title_code"><span class="red_tips">*</span>开户城市</div>
            <div  class="input_form_n">

            </div>
        </label>
    </div>
    <span class="green_info">
        <span class="tips">嘉白条智能加密，保障您的用卡安全</span>
    </span>
</div>

<a href="" class="more_bank">
    <img src="../../images/bank_card/add_bankcard.png">

    <span>查看支持的银行</span>
</a>

<div class="bottom_btn">
    <a href="../return_bankcard/add_card_success.html">下一步</a>
</div>