

<div class="jf_pop_up" id="product_address">

    <div class="jf_pop_up_main">

        <div class="pop_top">

            <div class="pop_title">请选择地址</div>

            <div class="pop_cancel"></div>

<!--            <div class="pop_line"></div>-->


        </div>

        <div class="pop_main">

            <div class="product_prompt_address">

                <div id="jd_address_select">

                    <div class="top_address">

                        <div>请选择</div>

                        <div></div>

                        <div></div>

                        <div></div>

                    </div>

                    <div class="address"></div>

                    <div class="address"></div>

                    <div class="address"></div>

                    <div class="address"></div>

                    <div class="address"></div>

                </div>


            </div>

        </div>

    </div>

    <div class="jf_pop_up_bg">

    </div>

</div>

