<div class="success_page_center">

    <div class="icon_time_plate">
        <img src="../../images/icon_apply_success.gif">
    </div>

    <div class="success_fail_tips">



        <p>提交成功，银行处理中...</p>

        <!-- <p>工作时间一般2小时内到账！若银行出款失败</p>-->

        <!-- <p><span>工作时间一般2小时内到账！</span>若银行出款失败，，</p>-->
    </div>
    <div class="success_fail_tips lt">
        <p>工作时间一般2小时内到账！</p>
        <p>若银行出款失败,我们会根据银行的返回退还额度更新借款为失败！</p>
    </div>

</div>



<!--按钮-->

<div class="doing_bottom doing_btn">
    <div class="bottom_btn">
        <a href="../homepage/homepage.html">返回</a>
    </div>
</div>
