<div class="contact_info">
    <!--信用卡列表-->
    <!--无效银行卡，在外层 div 添加class值 invalid_card 即可显示灰色-->
    <div class="card_part invalid_card">
        <a href="#" class="flex_plate">
            <div class="bank_icon_plate">
                <img src="../../images/bank_icon/icon_bank_one.png">
            </div>

            <div class="bank_name_plate">
                <p class="bank_font"><span class="bank_allname">中国建设银行</span><span class="border_plate">储蓄卡</span></p>

                <p class="bank_font">6222 30001 1111 1111</p>
            </div>
        </a>

        <div class="delete_icon"></div>
    </div>

    <div class="card_part">
        <a href="bank_card.html" class="flex_plate">
            <div class="bank_icon_plate">
                <img src="../../images/bank_icon/icon_bank_one.png">
            </div>

            <div class="bank_name_plate">
                <p class="bank_font"><span class="bank_allname">中国建设银行中国建设银行</span><span class="border_plate">信用卡</span></p>

                <p class="bank_font">6222 30001 1111 1111</p>
            </div>
        </a>

        <div class="delete_icon"></div>
    </div>
</div>

<div class="doing_bottom">
    <div class="bottom_btn">
        <a href="../return_bankcard/add_bankcard.html">添加银行卡</a>
    </div>
</div>




<script>

    //删除银行卡弹框
    var deleteEle=document.getElementsByClassName('delete_icon');

    for (var i=0;i<deleteEle.length;i++) {

        deleteEle[i].addEventListener('click',function () {

            jfShowTips.dialogShow({
                "mainText": "确定删除这张银行卡？",
                "minText": " ",
                "noCheck": false,
                "noCancel": false,
                "checkBtnText":"确定",
                "checkFn": function () {
                    jfShowTips.dialogRemove()
                }
            });

        })

    }


</script>
