<!--借钱说明提示-->
<div class="none_popup_tips">
    <div class="selective_use_popup"></div>

    <div class="borrow_money_tips">
        <div class="popup_tips_plate">
            <div class="borrow_money_title"><p class="popup_tips_title">借钱说明</p></div>

            <ul class="borrow_money_details">
                <li>借款一次性打到指定的信用卡</li>

                <li>分期偿还借款</li>
            </ul>

            <p class="notice_font">注：一般半小时到账，非工作时间或异常情况会有延时，具体以银行到账为准。一次借款全部还清后才可以续借。</p>
        </div>

        <div class="popup_tips_close"><img src="../../images/icon_borrow_close.png"></div>
    </div>
</div>


<script>

    //页面加载完的借钱说明
    //borrowMoneyTips();

</script>
