
<div class="move_box">
    <div class="move animate-card-rotate">
        <span class="pom">
            <div class="time_hour"></div>
        </span>
    </div>
</div>

<div class="text_doing">
    <span class="">提交成功，银行处理中</span>
</div>

<div class="return_tips">
    <img src="../../images/bank_card/frist_return_tips.png" class="return_tips_img">
    <span class="return_tips_font">首期还款提醒</span>
</div>

<div class="return_frist_detail">
    <p>还款时间：<span>2018-06-21</span></p>
    <p>还款金额<span>1200.50</span></p>
</div>


<!--按钮-->

<div class="doing_bottom doing_btn">
    <div class="bottom_orange_btn">
        <a href="../homepage/homepage.html">返回</a>
    </div>
</div>