<div class="list_box">
    <div class="q_a">
        <div class="q_1">
            <div class="icon_q">Q</div>
            <p class="title_q">借款审核一般需要多久？</p>
        </div>
        <div class="line_1"></div>
        <div class="q_1">
            <div class="icon_a">A</div>
            <p class="content_q">借款秒批秒放，基本2分钟左右到账。</p>
        </div>
    </div>
</div>