<div class="list_box">
    <div class="q_a">
        <div class="q_1">
            <div class="icon_q">Q</div>
            <p class="title_q">为什么我没有审核通过？</p>
        </div>
        <div class="line_1"></div>
        <div class="q_1">
            <div class="icon_a">A</div>
            <p class="content_q">您的审核结果是由系统综合评定，未通过肯能是因为您的资质未满足该产品要求。由于不同产品的审核条件都不一样，建议您申请多款产品以提高贷款成功率。</p>
        </div>
    </div>
</div>