<div class="list_box">
    <div class="q_a">
        <div class="q_1">
            <div class="icon_q">Q</div>
            <p class="title_q">借钱有哪些费用？</p>
        </div>
        <div class="line_1"></div>
        <div class="q_1">
            <div class="icon_a">A</div>
            <p class="content_q">借款周期内免利息，只收取一次性服务费：即手续费和账户管理费
                活动多多、优惠多多，具体收费情况以借款合同为准。</p>
        </div>
    </div>
</div>