<div class="list_box">
    <div class="q_a">
        <div class="q_1">
            <div class="icon_q">Q</div>
            <p class="title_q">分期能不能退款？</p>
        </div>
        <div class="line_1"></div>
        <div class="q_1">
            <div class="icon_a">A</div>
            <p class="content_q">实体商品类消费分期可按商城（商品销售方）服务规范，向商城发起退款申请。<br>若商城同意退款，嘉白条会按商城授权的退款金额退还相应额度，但相关费用不退。</p>
        </div>
    </div>
</div>